//
// Hero
// -------------------------------------------------------

// Pattern:
//  <section class="hero">
//      <header class="hero__header"></header>
//      <div class="hero__content">
//          <div class="container"></div>
//      </div>
//      <footer class="hero__footer"></footer>
// </section>

.hero {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100vh;

    &__header,
    &__footer {
        flex-grow: 0;
        flex-shrink: 0;
    }

    &__content {
        flex-grow: 1;
        flex-shrink: 0;
        //padding: 3rem 1.5rem;
        align-items: center;
        display: flex;
    }

    &__image {}
}

// Pattern:
//  <section class="section">
//      <div class="section__content">
//          <div class="container"></div>
//      </div>
// </section>
