@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    
    60% {
        opacity: 1;
        transform: translateX(@base-spacing-unit);
    }
    
    80% {
        transform: translateX(-@base-spacing-unit-half);
    }
    
    100% {
        transform: translateX(0);
    }
}

.bounceInLeft {
    animation-name: bounceInLeft;
}