//
// Utilities – Colors
// -------------------------------------------------------
.use-colors(@boolean) when (@boolean =true) {


    // Muted

    .u-muted {
        opacity: .5 !important;
    }

    // Text colors

    .u-color-white {
        color: @white  !important;
    }

    .u-color-black {
        color: @black  !important;
    }

    .u-color-base {
        color: @base-color  !important;
    }

    .u-color-primary {
        color: @color-primary  !important;
    }

    .u-color-secondary {
        color: @color-secondary  !important;
    }

    .u-color-success {
        color: @color-success  !important;
    }

    .u-color-warning {
        color: @color-warning  !important;
    }

    .u-color-error {
        color: @color-error  !important;
    }

    // Background colors

    .u-background-white {
        background-color: @white  !important;
    }

    .u-background-black {
        background-color: @black  !important;
    }

    .u-background-base {
        background-color: @base-color  !important;
    }

    .u-background-primary {
        background-color: @color-primary  !important;
    }

    .u-background-secondary {
        background-color: @color-secondary  !important;
    }

    .u-background-success {
        background-color: @color-success  !important;
    }

    .u-background-warning {
        background-color: @color-warning  !important;
    }

    .u-background-error {
        background-color: @color-error  !important;
    }

}

.use-colors(@use-colors);
