//
// Current Media Query
// -------------------------------------------------------
.current-media-query(@boolean) when (@boolean =true) {

	//This adds a label in the top-left corner that displays the current media query state.

	html {

		&:before,
		&:after {
			background: rgba(0, 0, 0, 0.4);
			border-radius: 0 0 3px 3px;
			color: @white;
			font-family: sans-serif;
			font-size: 10px;
			height: 18px;
			letter-spacing: .025em;
			line-height: 16px;
			padding: 0 6px;
			position: fixed;
			text-align: center;
			top: 0;
			z-index: 9999;
		}

		&:after {
			right: 80px;
			content: "@xx-small";

			@media @x-small-up {
				content: "@x-small";
			}

			@media @small-up {
				content: "@small";
			}

			@media @medium-up {
				content: "@medium";
			}

			@media @large-up {
				content: "@large";
			}

			@media @x-large-up {
				content: "@x-large";
			}

			@media @xx-large-up {
				content: "@xx-large";
			}
		}

		&:before {
			right: 0;

			@media @nav-responsive-down {
				content: "@nav-hidden";
			}

			@media @nav-responsive-up {
				content: "@nav-visible";
			}
		}
	}
}

.current-media-query(@use-current-media-query);
