//
// Utilities – Display
// -------------------------------------------------------
.use-display(@boolean) when (@boolean =true) {

	.u-block {
		display: block !important;
	}

	.u-inline-block {
		display: inline-block !important;
	}

	.u-table {
		display: table !important;

		&:before {
			display: inherit !important;
			height: auto !important;
		}
	}

	.u-table-cell {
		display: table-cell !important
	}

	.u-flex {
		display: flex !important;
	}
}

.use-display(@use-display);
