//
// Utilities – Flex-alignment
// -------------------------------------------------------
.use-flex-alignment(@boolean) when (@boolean =true) {

    // Horizontal aligment

    .u-flex-center {
        display: flex !important;
        justify-content: center !important;
    }

    .u-flex-left {
        display: flex !important;
        justify-content: flex-start!important;
    }

    .u-flex-right {
        display: flex !important;
        justify-content: flex-end!important;
    }

    // Vertical aligment

    .u-flex-middle {
        display: flex !important;
        align-items: center !important;
    }

    .u-flex-top {
        display: flex !important;
        align-items: flex-start !important;
    }

    .u-flex-bottom {
        display: flex !important;
        align-items: flex-end !important;
    }

}

.use-flex-alignment(@use-flex-alignment);
