//
// Utilities – Margin
// -------------------------------------------------------
.use-margin(@boolean) when (@boolean =true) {


    .u-margin-flush {
        margin: 0 !important;
    }

    .u-margin-xs {
        margin: @spacing-third !important;
    }

    .u-margin-sm {
        margin: @spacing-half !important;
    }

    .u-margin-md {
        margin: @spacing-base !important;
    }

    .u-margin-lg {
        margin: @spacing-double !important;
    }

    .u-margin-xl {
        margin: @spacing-double * 2 !important;
    }



}

.use-margin(@use-margins);
