//
// Utilities – Vertical-align
// -------------------------------------------------------
.use-vertical-align(@boolean) when (@boolean =true) {

    .u-vertical-align-top {
        vertical-align: top !important
    }

    .u-vertical-align-middle {
        vertical-align: middle !important
    }

    .u-vertical-align-bottom {
        vertical-align: bottom !important
    }

}

.use-vertical-align(@use-vertical-align);
