//
// Utilities – Visibility
// -------------------------------------------------------
.use-visibility(@boolean) when (@boolean =true) {

    // Hide content only visually, but have it available for screen readers.

    .u-visually-hidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .u-show {
        display: block !important;
    }

    .u-hide {
        display: none !important;
    }


    // Extra-smallall

    @media @x-small-down {
        .u-hide-x-small-down {
            display: none !important;
        }
    }

    // Small

    @media @small-up {
        .u-hide-small-up {
            display: none !important;
        }
    }

    @media @small-down {
        .u-hide-small-down {
            display: none !important;
        }
    }

    // Medium

    @media @medium-up {
        .u-hide-medium-up {
            display: none !important;
        }
    }

    @media @medium-down {
        .u-hide-medium-down {
            display: none !important;
        }
    }

    // Large

    @media @large-up {
        .u-hide-large-up {
            display: none !important;
        }
    }

    @media @large-down {
        .u-hide-large-down {
            display: none !important;
        }
    }

    // Extra-large

    @media @x-large-up {
        .u-hide-x-large-up {
            display: none !important;
        }
    }

    .u-hide-x-large-down {
        display: none !important;
    }


}

.use-visibility(@use-visibility);
