//
// Utilities – Widths
// -------------------------------------------------------
.use-widths(@boolean) when (@boolean =true) {

	// Small Grid for Mobile devices
	.use-screen-x-small(@boolean) when (@boolean =true) {
		.loop-grid(@grid-columns, width, -x-small);

		.u-width-x-small-auto {
			flex: 1;
		}
	}

	.use-screen-x-small(@use-screen-x-small); // Small Grid for Mobile devices

	.use-screen-small(@boolean) when (@boolean =true) {
		@media @small-up {
			.loop-grid(@grid-columns, width, -small);

			.u-width-small-auto {
				flex: 1;
			}
		}
	}

	.use-screen-small(@use-screen-small); // Medium Grid for Tablet devices

	.use-screen-medium(@boolean) when (@boolean =true) {
		@media @medium-up {
			.loop-grid(@grid-columns, width, -medium);

			.u-width-medium-auto {
				flex: 1;
			}
		}
	}

	.use-screen-medium(@use-screen-medium); // Large Grid, optimal for laptop & desktop devices

	.use-screen-large(@boolean) when (@boolean =true) {
		@media @large-up {
			.loop-grid(@grid-columns, width, -large);

			.u-width-large-auto {
				flex: 1;
			}
		}
	}

	.use-screen-large(@use-screen-large); // Extra Large Grid for Large desktop devices

	.use-screen-x-large(@boolean) when (@boolean =true) {
		@media @x-large-up {
			.loop-grid(@grid-columns, width, -x-large);

			.u-width-x-large-auto {
				flex: 1;
			}
		}
	}

	.use-screen-x-large(@use-screen-x-large);
}

.use-widths(@use-widths);
