//
// Utilities – Widths
// -------------------------------------------------------
.use-widths(@boolean) when (@boolean =true) {

	// Widths (aka X-Small Widths)
	.loop-grid(@grid-columns, width);

	.u-width-auto {
		flex: 1;
	}

	// Small Widths
	.use-screen-small(@boolean) when (@boolean =true) {
		@media @small-up {
			.loop-grid(@grid-columns, width, -small);

			.u-width-small-auto {
				flex: 1;
			}
		}
	}

	.use-screen-small(@use-screen-small);

	// Medium Widths
	.use-screen-medium(@boolean) when (@boolean =true) {
		@media @medium-up {
			.loop-grid(@grid-columns, width, -medium);

			.u-width-medium-auto {
				flex: 1;
			}
		}
	}

	.use-screen-medium(@use-screen-medium);

	// Large Widths
	.use-screen-large(@boolean) when (@boolean =true) {
		@media @large-up {
			.loop-grid(@grid-columns, width, -large);

			.u-width-large-auto {
				flex: 1;
			}
		}
	}

	.use-screen-large(@use-screen-large);

	// X-Large Widths
	.use-screen-x-large(@boolean) when (@boolean =true) {
		@media @x-large-up {
			.loop-grid(@grid-columns, width, -x-large);

			.u-width-x-large-auto {
				flex: 1;
			}
		}
	}

	.use-screen-x-large(@use-screen-x-large);

	// Xx-Large Widths
	.use-screen-xx-large(@boolean) when (@boolean =true) {
		@media @xx-large-up {
			.loop-grid(@grid-columns, width, -xx-large);

			.u-width-xx-large-auto {
				flex: 1;
			}
		}
	}

	.use-screen-xx-large(@use-screen-xx-large);
}

.use-widths(@use-widths);
