@keyframes bounceOutUp {
    0% {
        transform: translateY(0);
    }

    20% {
        opacity: 1;
        transform: translateY(@spacing-base);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.bounceOutUp {
    animation-name:bounceOutUp;
}
