.bounce-in(@boolean) when (@boolean =true) {
    @keyframes bounce-in {
        0% {
            opacity: 0;
            transform: scale3d(.3, .3, .3);
        }
        50% {
            opacity: 1;
            transform: scale3d(1.1, 1.1, 1.1);
        }
        70% {
            transform: scale3d(.9, .9, .9);
        }
        85% {
            transform: scale3d(1.05, 1.05, 1.05);
        }
        100% {
            transform: none
        }
    }
    .bounce-in {
        animation-name: bounce-in;
    }
}

.bounce-in(@use-bounce-in);
