@keyframes bounceOutRight {
    0% {
        transform: translateX(0);
    }

    20% {
        opacity: 1;
        transform: translateX(-@spacing-base);
    }

    100% {
        opacity: 0;
        transform: translateX(2000px);
    }
}

.bounceOutRight {
    animation-name: bounceOutRight;
}
