@keyframes bounceInUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    60% {
        opacity: 1;
        transform: translateY(-@spacing-base);
    }

    80% {
        transform: translateY(@spacing-half);
    }

    100% {
        transform: translateY(0);
    }
}

.bounceInUp {
    animation-name: bounceInUp;
}
