.fade-out-up(@boolean) when (@boolean =true) {
    @keyframes fade-out-up {
        0% {
            opacity: 1;
            transform: none;
        }
        100% {
            opacity: 0;
            transform: translate3d(0, -@spacing-double, 0);
        }
    }
    .fade-out-up {
        animation-name: fade-out-up;
    }
}

.fade-out-up(@use-fade-out-up);
