@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-@base-spacing-unit);
    }
}

.fadeOutLeft {
    animation-name: fadeOutLeft;
}
