.fade-in-down(@boolean) when (@boolean =true) {
    @keyframes fade-in-down {
        0% {
            opacity: 0;
            transform: translate3d(0, -@spacing-double, 0);
        }
        100% {
            opacity: 1;
            transform: none;
        }
    }
    .fade-in-down {
        animation-name: fade-in-down;
    }
}

.fade-in-down(@use-fade-in-down);
