.fade-out-right(@boolean) when (@boolean =true) {
    @keyframes fade-out-right {
        0% {
            opacity: 1;
            transform: none;
        }
        100% {
            opacity: 0;
            transform: translate3d(@spacing-double, 0, 0);
        }
    }
    .animate--fade-out-right {
        animation-name: fade-out-right;
    }
}

.fade-out-right(@use-fade-out-right);
