.fade-out-right(@boolean) when (@boolean =true) {
    @keyframes fade-out-right {
        0% {
            opacity: 1;
            transform: translateX(0);
        }
        100% {
            opacity: 0;
            transform: translateX(100%);
        }
    }
    .fade-out-right {
        animation-name: fade-out-right;
    }
}

.fade-out-right(@use-fade-out-right);
