.fade-in-right(@boolean) when (@boolean =true) {
    @keyframes fade-in-right {
        0% {
            opacity: 0;
            transform: translate3d(@spacing-double, 0, 0);
        }
        100% {
            opacity: 1;
            transform: none;
        }
    }
    .animate--fade-in-right {
        animation-name: fade-in-right;
    }
}

.fade-in-right(@use-fade-in-right);
