.fade-in-down(@boolean) when (@boolean =true) {
    @keyframes fade-in-down {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .fade-in-down {
        animation-name: fade-in-down;
    }
}

.fade-in-down(@use-fade-in-down);
