.fade-out(@boolean) when (@boolean =true) {
    @keyframes fade-out {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    .fade-out {
        animation-name: fade-out;
    }
}

.fade-out(@use-fade-out);
