.fade-out-left(@boolean) when (@boolean =true) {
    @keyframes fade-out-left {
        0% {
            opacity: 1;
            transform: translateX(0);
        }
        100% {
            opacity: 0;
            transform: translateX(-100%);
        }
    }
    .fade-out-left {
        animation-name: fade-out-left;
    }
}

.fade-out-left(@use-fade-out-left);
