.fade-in(@boolean) when (@boolean =true) {
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .animate--fade-in {
        animation-name: fade-in;
    }
}

.fade-in(@use-fade-in);
