.fade-in-left(@boolean) when (@boolean =true) {
    @keyframes fade-in-left {
        0% {
            opacity: 0;
            transform: translate3d(-@spacing-double, 0, 0);
        }
        100% {
            opacity: 1;
            transform: none;
        }
    }
    .animate--fade-in-left {
        animation-name: fade-in-left;
    }
}

.fade-in-left(@use-fade-in-left);
