.pulse(@boolean) when (@boolean =true) {
    @keyframes pulse {
        0% {
            transform: none;
        }
        50% {
            transform: scale3d(1.1, 1.1, 1.1);
        }
        100% {
            transform: none;
        }
    }
    .animate--pulse {
        animation-name: pulse;
    }
}

.pulse(@use-pulse);
