.roll-out(@boolean) when (@boolean =true) {
    @keyframes roll-out {
        0% {
            opacity: 1;
            transform: none;
        }
        100% {
            opacity: 0;
            transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        }
    }
    .roll-out {
        animation-name: roll-out;
    }
}

.roll-out(@use-roll-out);
