.roll-in(@boolean) when (@boolean =true) {
    @keyframes roll-in {
        0% {
            opacity: 0;
            transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        }
        100% {
            opacity: 1;
            transform: none;
        }
    }
    .animate--roll-in {
        animation-name: roll-in;
    }
}

.roll-in(@use-roll-in);
