@keyframes slide-out-right {
    0% {
        transform: translateX(0);
    }
    100% {
        visibility: hidden;
        transform: translateX(100%);
    }
}

.slide-out-right {
    animation-name: slide-out-right;
}
