.slide-out-down(@boolean) when (@boolean =true) {
    @keyframes slide-out-down {
        0% {
            transform: none;
        }
        100% {
            visibility: hidden;
            transform: translate3d(0, 100%, 0);
        }
    }
    .animate--slide-out-down {
        animation-name: slide-out-down;
    }
}

.slide-out-down(@use-slide-out-down);
