.slide-in-up(@boolean) when (@boolean =true) {
    @keyframes slide-in-up {
        0% {
            transform: translate3d(0, 100%, 0);
            visibility: visible;
        }
        100% {
            transform: none;
        }
    }
    .slide-in-up {
        animation-name: slide-in-up;
    }
}

.slide-in-up(@use-slide-in-up);
