.slide-out-up(@boolean) when (@boolean =true) {
    @keyframes slide-out-up {
        0% {
            transform: none;
        }
        100% {
            visibility: hidden;
            transform: translate3d(0, -100%, 0);
        }
    }
    .animate--slide-out-up {
        animation-name: slide-out-up;
    }
}

.slide-out-up(@use-slide-out-up);
