.slide-out-down(@boolean) when (@boolean =true) {
    @keyframes slide-out-down {
        0% {
            transform: translateY(0);
        }
        100% {
            visibility: hidden;
            transform: translateY(100%);
        }
    }
    .slide-out-down {
        animation-name: slide-out-down;
    }
}

.slide-out-down(@use-slide-out-down);
