.slide-in-right(@boolean) when (@boolean =true) {
    @keyframes slide-in-right {
        0% {
            transform: translateX(100%);
            visibility: visible;
        }
        100% {
            transform: translateX(0);
        }
    }
    .slide-in-right {
        animation-name: slide-in-right;
    }
}

.slide-in-right(@use-slide-in-right);
