.slide-out-left(@boolean) when (@boolean =true) {
    @keyframes slide-out-left {
        0% {
            transform: translateX(0);
        }
        100% {
            visibility: hidden;
            transform: translateX(-100%);
        }
    }
    .slide-out-left {
        animation-name: slide-out-left;
    }
}

.slide-out-left(@use-slide-out-left);
