.slide-in-down(@boolean) when (@boolean =true) {
    @keyframes slide-in-down {
        0% {
            transform: translate3d(0, -100%, 0);
            visibility: visible;
        }
        100% {
            transform: none;
        }
    }
    .animate--slide-in-down {
        animation-name: slide-in-down;
    }
}

.slide-in-down(@use-slide-in-down);
