.zoom-in(@boolean) when (@boolean =true) {
    @keyframes zoom-in {
        0% {
            opacity: 0;
            transform: scale3d(.3, .3, .3);
        }
        50% {
            opacity: 1;
        }
    }
    .zoom-in {
        animation-name: zoom-in;
    }
}

.zoom-in(@use-zoom-in);
