//
// Buttons
// -------------------------------------------------------
button, 
html input[type="button"], 
input[type="reset"], 
input[type="submit"] {
	-webkit-appearance:none; //iOS rounding reset
	&:focus {
		outline: none;
	}
}

.use-button-styles(@boolean) when (@boolean = true) {
    .btn {
        .button-size();
        border-radius: @button-border-radius;
        display: inline-block;
        font-weight: @button-font-weight;
        position: relative;
        vertical-align: middle;
        margin: 0;
        text-align: center;
        white-space: nowrap; //prevent line-break
        cursor: pointer;
        background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
        outline: 0;
        text-decoration: none;
        -webkit-touch-callout: none;
        user-select: none;
        user-drag: none;
        transition: background-color 200ms linear, color 200ms linear, opacity 200ms linear, border-color 200ms linear;
        &:hover, 
        &:focus {
            text-decoration: none; // strip styling from <a>.
        }
        &:active, 
        &.active {
            outline: 0;
        }
        &[disabled],
        &:disabled,
        fieldset[disabled] .btn {
            opacity: .5;
            cursor: not-allowed;
            pointer-events: none;
            box-shadow: none;
            text-shadow: none;
        }
    }

    //Buttons sizes
    .btn-sm {
        font-size: ceil(@button-font-size * .8);
        height: ceil(@button-height * .8);
        line-height: ceil((@button-height * .8) - (@button-border-width * 2));
    }
    
    .btn-lg {
        font-size: ceil(@button-font-size * 1.5);
        height: (@button-height * 1.5);
        line-height: ((@button-height * 1.5) - (@button-border-width * 2));
    }
    
    .btn-xl {
        font-size: ceil(@button-font-size * 2);
        height: (@button-height * 2);
        line-height: ((@button-height * 2) - (@button-border-width * 2));
    }

    .btn-block {
        width:100%;
        padding-left:0;
        padding-right:0;
        white-space: normal !important; // line-break for mobile
    }

    //Button variations
    .btn-pill {
        border-radius: 999em;
    }

    .btn-circle {
        border-radius: 999em;
        padding: 0;
        width: @button-height;
        &.btn-sm {
            width: (@button-height * .8);
        }
        &.btn-lg {
            width: (@button-height * 1.5);
        }
        &.btn-xl {
            width: (@button-height * 2);
        }
    }

    .btn-link {
        color: @base-color;
        font-weight: normal;
        border-radius: 0;
        &,
        &:active,
        &.active,
        &[disabled],
        fieldset[disabled] & {
            background-color: transparent;
        }
        &,
        &:hover,
        &:focus,
        &:active {
            border-color: transparent;
        }
        &:hover,
        &:focus {
            color: @base-link-color;
            background-color: transparent;
        }
    }
    
    
    .btn-default {
        background-color: transparent;
        border-color: @grey-800;
        color: @grey-800;
        &:hover, 
        &:focus,
        &:active,
        &.active{
            background-color: @grey-800;
            border-color: @grey-800;
            color: contrast(@grey-800, @base-color);
        }
    }


    .btn-primary {
        // styles here
        background-color: transparent;
        border-color: @color-primary;
        color: @color-primary;
        &:hover, 
        &:focus,
        &:active, 
        &.active {
            // styles here
            background-color: @color-primary;
            border-color: @color-primary;
            color: contrast(@color-primary, @base-color);
        }
    }


    .btn-secondary {
        // styles here
        //background-color: @black;
        //border-color: @black;
        //color: @white;
        &:hover, 
        &:focus,
        &:active, 
        &.active {
            // styles here        
            //background-color: @black;
            //border-color: @black;
            //color: @white;
        }
    }

    .btn-primary-variation {
        // styles here
        //background-color: @black;
        //border-color: @black;
        //color: @white;
        &:hover, 
        &:focus,
        &:active, 
        &.active {
            // styles here
            //background-color: @black;
            //border-color: @black;
            //color: @white;
        }
    }

    .btn-success {
        // styles here
            //background-color: @black;
            //border-color: @black;
            //color: @white;
        &:hover, 
        &:focus,
        &:active, 
        &.active {
            // styles here
            //background-color: @black;
            //border-color: @black;
            //color: @white;
        }
    }


    .btn-warning {
        // styles here
        //background-color: @black;
        //border-color: @black;
        //color: @white;
        &:hover, 
        &:focus,
        &:active, 
        &.active {
            // styles here
            //background-color: @black;
            //border-color: @black;
            //color: @white;
        }
    }

    .btn-danger {
        // styles here
        //background-color: @black;
        //border-color: @black;
        //color: @white;
        &:hover, 
        &:focus,
        &:active, 
        &.active {
            // styles here
            //background-color: @black;
            //border-color: @black;
            //color: @white;
        }
    }

    .btn-info {
        // styles here
        //background-color: @black;
        //border-color: @black;
        //color: @white;
        &:hover, 
        &:focus,
        &:active, 
        &.active {
            // styles here
            //background-color: @black;
            //border-color: @black;
            //color: @white;
        }
    }
    
}
.use-button-styles(@use-button-styles);