//
// Embedded content
// -------------------------------------------------------


// Fluid-width <audio> & <video> elements
audio,
video,
canvas {
    width: 100%;
    &:focus {
        outline: 1px dotted @black;
    }
}

// Fluid-width media that maintain their aspect ratios
embed,
img,
object,
video {
    max-width: 100%;
    height: auto;
}

embed,
object {
    height: 100%;
}

// Reset `margin` for figure elements.
figure {
    margin: 0 auto @base-spacing-unit auto; // set vertical rhytmn
}

// Set <img> elements as block-level inside <figure> elements.
figure > img {
  display: block;
}

// Inherit svg fill color from parent element that doesn't inherit by default.
svg {
    fill: currentColor;
}

// Responsive video class
.responsive-video {
	position: relative;
    padding-bottom: (9 / 16 * 100%); // 16:9 aspect-ratio
    padding-top: 0;
	height: 0;
	overflow: hidden;
    iframe,
    object,
    embed,
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;  
    }
}