//
// Grid
// -------------------------------------------------------

// Container
.use-container(@boolean) when (@boolean = true) {

    .container, .container-fluid {
        .make-container();
    }
    
    // Container widths
    .container {
        width: @container-sm;
    }
    @media @medium-up {
        .container { 
            width:@container-md;
        }
    }
    @media @large-up {
        .container {
            width: @container-lg;
        }
    }
    @media @xlarge-up {
        .container {
            width: @container-xl;
        }
    }
}
.use-container(@use-container);

.use-columns(@boolean) when (@boolean = true) {
    
    .row {	
        .make-row();
    }
    
    //Columns
    [class*='col-'] {
        //position: relative;
        .make-column(@grid-gutter-width);
        .column(); // default width for mobile column
    }
    
    // No-gutters resets
    .no-gutters {
        &.row {
            margin-left: 0;
            margin-right: 0;
        }
        > [class*='col-'] {
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    // Small Grid for Mobile devices
    .use-screen-sm(@boolean) when (@boolean = true) {
        .make-grid(@grid-columns, width, -sm);
    }
    .use-screen-sm(@use-screen-sm);
    
    // Medium Grid for Tablet devices
    .use-screen-md(@boolean) when (@boolean = true) {
        @media @medium-up {
            .make-grid(@grid-columns, width, -md);
            .make-grid(@grid-columns, pull, -md);
            .make-grid(@grid-columns, push, -md);
            .make-grid(@grid-columns, offset, -md);
        }
    }
    .use-screen-md(@use-screen-md);
    
    // Large Grid, optimal for laptop & desktop devices
    .use-screen-lg(@boolean) when (@boolean = true) {
        @media @large-up {
            .make-grid(@grid-columns, width, -lg);
            .make-grid(@grid-columns, pull, -lg);
            .make-grid(@grid-columns, push, -lg);
            .make-grid(@grid-columns, offset, -lg);
        }
    }
    .use-screen-lg(@use-screen-lg);
    
    // Extra Large Grid for Large desktop devices
    .use-screen-xl(@boolean) when (@boolean = true) {
        @media @xlarge-up {
            .make-grid(@grid-columns, width, -xl);
            .make-grid(@grid-columns, pull, -xl);
            .make-grid(@grid-columns, push, -xl);
            .make-grid(@grid-columns, offset, -xl);
        }
    }
    .use-screen-xl(@use-screen-xl);
}
.use-columns(@use-columns);