.helper-classes(@boolean) when (@boolean = true) {
//
// Helper classes
// -------------------------------------------------------
    .block { 
        display: block;
    }
    .inline-block {
        display: inline-block;
    }
    .inline { 
        display: inline;
    }
    .no-margin {
        margin: 0;
    }
    .show {
        display: block !important;
    }
    .hide {
        display: none !important; 
        visibility: hidden !important;
    }
    .visually-hidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .no-margin {
        margin: 0!important;
    }
    .text-left  {
        text-align: left;
    }
    .text-right {
        text-align: right;
    }
    .text-center {
        text-align: center;
    }
    .text-justify {
        text-align: justify;
    }
    .float-left {
        float: left;
    }
    .float-right {
        float: right;
    }
    .float-none {
        float: none;
    }
    .center { 
        margin-left: auto; 
        margin-right: auto;
        display: block;
        float: none !important;
    }
    .weight-light {
        font-weight: 300;
    }  
    .weight-normal { 
        font-weight: 400;
    }
    .weight-semibold {
        font-weight: 600;
    }
    .weight-bold {
        font-weight: 700;
    }
    .bg-primary {
	   background-color: @color-primary;
    }
    .bg-secondary {
	   background-color: @color-secondary;
    }
    .bg-success {
	   background-color: @color-success;
    }
    .bg-warning {
	   background-color: @color-warning;
    }
    .bg-danger {
	   background-color: @color-danger;
    }
    .bg-info {
        background-color: @color-info;
    }
    .color-primary {
	   color: @color-primary;
    }
    .color-secondary {
	   color: @color-secondary;
    }
    .color-success {
	   color: @color-success;
    }
    .color-warning {
	   color: @color-warning;
    }
    .color-danger {
	   color: @color-danger;
    }
    .color-info {
        color: @color-info;
    }    
}
.helper-classes(@use-helper-classes);