.icons(@boolean) when (@boolean = true) {
//
// Icon fonts
// -------------------------------------------------------
	@font-face {.font-face('icons', 'icons', normal, normal);}
	
	.icon {
        font: normal normal normal @icon-font-size/1 'icons';
        display: inline-block;
        speak: none;
        text-rendering: auto;
        text-decoration: inherit;
        text-transform: none;
        font-feature-settings: "liga";
        user-select: none;
		.btn & {
			line-height: inherit;
		}
	}
    
    .icon-lg:before { font-size: 1.5em; }
    .icon-2x:before { font-size: 2em; }
    .icon-3x:before { font-size: 3em; }
    .icon-4x:before { font-size: 4em; }
    .icon-5x:before { font-size: 5em; }
    
    
    // Insert icon styles here
	
	
}
.icons(@use-icons);