// DEBUG
// -------------------------------------------------------
// Enabling current media query, displays currently used
// media query. Debug-mode outlines every element.
// DO NOT USE IN PRODUCTION!
@use-current-media-query:               true;
@use-debug-mode:                        false;


// BREAKPOINTS & GRID
// -------------------------------------------------------

// Breakpoints
@breakpoint-x-small:                    360px; // Phone Potrait
@breakpoint-small:                      640px; // Phone landscape
@breakpoint-medium:                     768px; // Tablet Landscape
@breakpoint-large:                      1024px; // Desktop
@breakpoint-x-large:                    1280px; // Large Screens
@breakpoint-xx-large:                   1440px; // Wide Screens

// Grid Columns
@grid-columns:                          12;
@grid-gutter-width:                     48px; //px|%|rem

// Grid Container
@container-padding-x:                   @grid-gutter-width / 2;

@container-x-small:                     100%;
@container-small:                       (@breakpoint-small - @grid-gutter-width);
@container-medium:                      (@breakpoint-medium - @grid-gutter-width);
@container-large:                       (@breakpoint-large - @grid-gutter-width);
@container-x-large:                     (@breakpoint-x-large - @grid-gutter-width);
@container-xx-large:                    (@breakpoint-xx-large - @grid-gutter-width);

@container-fluid:                       100%;
@container-fluid-max:                   @container-x-large;


// COLORS
// -------------------------------------------------------

@black:                                 #000000;
@white:                                 #ffffff;

// Brand colors
@color-primary:                         #5d5fff;
@color-primary-light:                   @color-primary-300;
@color-primary-dark:                    @color-primary-700;
@color-primary-accent:                  overlay(@color-primary, fade(@black, 50%));

@color-secondary:                       #ff6b61;
@color-secondary-light:                 @color-secondary-300;
@color-secondary-dark:                  @color-secondary-700;
@color-secondary-accent:                overlay(@color-secondary, fade(@black, 50%));

// UI colors
@color-ui-success:                      #5cb85c;
@color-ui-error:                        #d9534f;
@color-ui-warning:                      #ed9c28;

// Base colors for body
@base-color:                            @grey-800;
@base-background:                       @white;

// Selections
@selection-background:                  rgba(red(@color-primary), green(@color-primary), blue(@color-primary), .6);


// TYPOGRAPHY & BASELINE PROPORTIONS
// -------------------------------------------------------

// @Font-Face (Formats: .ttf, .woff, .woff2)
// Options: 'font-family', 'font-file-name', font-weight, font-style
//@font-face {.font-face('Font-name', 'Font-name-Regular', 400, normal);}
//@font-face {.font-face('Font-name', 'Font-name-Bold', 700, normal);}

@root-font-size:                        16px;
@base-line:                             24px;

@base-font-family:                      sans-serif;
@base-font-size:                        @root-font-size;
@base-letter-spacing:                   @letter-spacing-base;

// Line-height (unitless)
@line-height-tightest:                  1;
@line-height-tighter:                   1.25;
@line-height-tight:                     1.375;
@line-height-base:                      (unit(@base-line / @root-font-size));
@line-height-loose:                     1.625;
@line-height-looser:                    1.75;
@line-height-loosest:                   2;

// Letter-spacing
@letter-spacing-tightest:               -0.05em;
@letter-spacing-tighter:                -0.025em;
@letter-spacing-tight:                  -0.01em;
@letter-spacing-base:                   0;
@letter-spacing-loose:                  0.01em;
@letter-spacing-looser:                 0.025em;
@letter-spacing-loosest:                0.05em;

// Spacing
@spacing-base:                          @base-line;

@spacing-sixth:                         round(@spacing-base / 6);
@spacing-fifth:                         round(@spacing-base / 5);
@spacing-fourth:                        round(@spacing-base / 4);
@spacing-third:                         round(@spacing-base / 3);
@spacing-half:                          round(@spacing-base / 2);
@spacing-two-thirds:                    round(@spacing-base / 3 * 2);
@spacing-double:                        round(@spacing-base * 2);
@spacing-triple:                        round(@spacing-base * 3);
@spacing-quadruple:                     round(@spacing-base * 4);

// Links
@link-color:                            @color-secondary;
@link-decoration:                       none;
@link-hover-color:                      @color-secondary-dark;
@link-hover-decoration:                 underline;

// Headings
@heading-font-family:                   @base-font-family;
@heading-font-weight:                   700;
@heading-letter-spacing:                @letter-spacing-tight;
@heading-line-height:                   @line-height-tightest;
@heading-color:                         inherit;

// Headings sizes
@heading1-font-size-small:              round(@base-font-size * 3.052);
@heading1-font-size-medium:             round(@base-font-size * 3.662);
@heading1-font-size-large:              round(@base-font-size * 3.815);

@heading2-font-size-small:              round(@base-font-size * 2.441);
@heading2-font-size-medium:             round(@base-font-size * 2.93);
@heading2-font-size-large:              round(@base-font-size * 3.052);

@heading3-font-size-small:              round(@base-font-size * 1.953);
@heading3-font-size-medium:             round(@base-font-size * 2.344);
@heading3-font-size-large:              round(@base-font-size * 2.441);

@heading4-font-size-small:              round(@base-font-size * 1.563);
@heading4-font-size-medium:             round(@base-font-size * 1.875);
@heading4-font-size-large:              round(@base-font-size * 1.953);

@heading5-font-size-small:              round(@base-font-size * 1.25);
@heading5-font-size-medium:             round(@base-font-size * 1.5);
@heading5-font-size-large:              round(@base-font-size * 1.563);

@heading6-font-size-small:              round(@base-font-size * 1);
@heading6-font-size-medium:             round(@base-font-size * 1.2);
@heading6-font-size-large:              round(@base-font-size * 1.25);


//Display Headings
@display1-font-family:                  @heading-font-family;
@display1-font-weight:                  400;
@display1-font-size-small:              round(@base-font-size * 5);
@display1-font-size-medium:             round(@base-font-size * 5.5);
@display1-font-size-large:              round(@base-font-size * 6);

@display2-font-family:                  @heading-font-family;
@display2-font-weight:                  400;
@display2-font-size-small:              round(@base-font-size * 3);
@display2-font-size-medium:             round(@base-font-size * 3.5);
@display2-font-size-large:              round(@base-font-size * 4);

@display3-font-family:                  @heading-font-family;
@display3-font-weight:                  400;
@display3-font-size-small:              round(@base-font-size * 1.5);
@display3-font-size-medium:             round(@base-font-size * 2.0);
@display3-font-size-large:              round(@base-font-size * 2.5);

@display4-font-family:                  @heading-font-family;
@display4-font-weight:                  400;
@display4-font-size-small:              round(@base-font-size * 1.25);
@display4-font-size-medium:             round(@base-font-size * 1.5);
@display4-font-size-large:              round(@base-font-size * 1.75);

// Lead paragraph styles
@lead-font-family:                      inherit;
@lead-font-size:                        round(@base-font-size * 1.5);
@lead-font-weight:                      300;
@lead-line-height:                      @line-height-tight;
@lead-color:                            @grey-600;

// Emphasis
@small-font-size:                       75%;
@mark-background-color:                 ##ffff00;
@mark-padding:                          .2em;

// Code
@code-font-size:                        round(@base-font-size * 0.75);
@code-color:                            @color-primary;
@code-background:                       @grey-25;
@code-border-color:                     @grey-100;
@code-border-radius:                    @border-radius-small;
@code-padding:                          .25em .5em;
@pre-color:                             @grey-800;
@pre-background:                        @grey-50;
@pre-padding:                           @spacing-half @spacing-two-thirds;

// Blockquote
@blockquote-padding:                    @spacing-third 0;
@blockquote-quote-color:                @color-primary;
@blockquote-quote-font-family:          @base-font-family;
@blockquote-quote-font-style:           normal;
@blockquote-quote-font-size:            round(@base-font-size * 1.25);
@blockquote-quote-font-weight:          300;
@blockquote-quote-line-height:          @line-height-base;
@blockquote-quote-letter-spacing:        inherit;
@blockquote-quote-margin:               @spacing-half;
@blockquote-cite-font-size:             14px;
@blockquote-cite-color:                 @grey-400;

// Pullquote
@pullquote-padding:                     @spacing-third @spacing-two-thirds;
@pullquote-border-color:                @color-primary;
@pullquote-border-width:                4px;
@pullquote-color:                       @color-primary;
@pullquote-font-family:                 @blockquote-quote-font-family;
@pullquote-font-style:                  normal;
@pullquote-font-size:                   round(@base-font-size * 1.25);
@pullquote-cite-font-size:              14px;
@pullquote-cite-color:                  @grey-400;

// Hr
@hr-border-color:                       @grey-100;
@hr-border-width:                       1px;
@hr-margin:                             @spacing-base;


// FORMS, INPUTS & BUTTONS
// -------------------------------------------------------

@form-field-margin:                     @spacing-base;

// Form messages
@form-message-margin-y:                 @spacing-half;
@form-message-font-family:              @base-font-family;
@form-message-font-weight:              400;
@form-message-font-size:                @base-font-size;
@form-message-color:                    @grey-600;
@form-message-line-height:              1;
@form-message-text-align:               inherit;

// Fieldset with border
@fieldset-border-width:                 1px;
@fieldset-border-style:                 solid;
@fieldset-border-color:                 @grey-100;

// Label & legend
@label--margin-y:                       @spacing-fourth;
@label-margin-x:                        @spacing-half;
@label-font-family:                     @base-font-family;
@label-font-size:                       inherit;
@label-font-weight:                     inherit;
@label-color:                           @base-color;
@legend-font-family:                    @base-font-family;
@legend-font-size:                      inherit;
@legend-font-weight:                    700;
@legend-color:                          @base-color;

// Inputs, textarea, select
@input-color:                           @grey-800;
@input-background:                      @white;
@input-hover-background:                @grey-25;
@input-placeholder-color:               @grey-400;
@input-placeholder-hover-color:         @grey-500;
@input-placeholder-focus-color:         @grey-800;
@input-border-color:                    @grey-400;
@input-border-color-hover:              @grey-500;
@input-border-color-focus:              @grey-800;
@input-border-width:                    1px;
@input-border-radius:                   0;
@input-font-family:                     @base-font-family;
@input-font-size:                       @base-font-size;
@input-height:                          40px;
@input-padding-x:                       .5em;
@input-box-shadow:                      none;

@input-small-height:                    32px;
@input-small-font-size:                 12px;

@input-large-height:                    @input-height * 1.5;
@input-large-font-size:                 @input-font-size * 1.5;

// Checkbox & radio buttons
@checkbox-radio-background:             @input-background;
@checkbox-radio-size:                   @spacing-base;
@checkbox-radio-border-width:           @input-border-width;
@checkbox-radio-margin-y:               @spacing-half;
@checkbox-radio-left-padding:           @spacing-fourth;
@checkbox-checked-color:                currentColor;
@checkbox-checked-background:           transparent;
@checkbox-checked-size:                 19px;
@checkbox-checked-width:                3px;
@checkbox-checked-y:                    5px;
@checkbox-checked-x:                    9px;
@checkbox-border-radius:                0;
@radio-checked-color:                   currentColor;
@radio-checked-size:                    @checkbox-radio-size - 4;

// Range
@range-thumb-color:                     @color-primary;
@range-thumb-border-radius:             50%;
@range-thumb-height:                    @spacing-base;
@range-thumb-width:                     @spacing-base;
@range-thumb-box-shadow:                @box-shadow-small;
@range-thumb-border-width:              0;
@range-thumb-border-color:              transparent;

@range-track-color:                     @grey-50;
@range-track-height:                    @spacing-fourth;
@range-track-box-shadow:                none;
@range-track-border-width:              1px;
@range-track-border-color:              @input-border-color;
@range-track-border-radius:             @border-radius-default;

// Buttons
@button-font-family:                    @base-font-family;
@button-font-size:                      @base-font-size;
@button-font-weight:                    400;
@button-letter-spacing:                 @letter-spacing-base;
@button-text-transform:                 none;
@button-height:                         @input-height;
@button-padding-x:                      16px;
@button-border-width:                   1px;
@button-border-radius:                  0;

@button-disabled-opacity:               .5;

@button-small-height:                   32px;
@button-small-font-size:                12px;

@button-large-height:                   @button-height * 1.5;
@button-large-font-size:                @button-font-size * 1.5;

@button-link-font-weight:               @button-font-weight;
@button-link-color:                     @link-color;
@button-link-decoration:                @link-decoration;
@button-link-hover-color:               @link-hover-color;
@button-link-hover-decoration:          @link-hover-decoration;

@button-default-color:                  @base-color;
@button-default-background:             transparent;
@button-default-border:                 @button-default-color;
@button-default-hover-color:            @white;
@button-default-hover-background:       @button-default-color;
@button-default-hover-border:           @button-default-color;

@button-primary-color:                  @white;
@button-primary-background:             @color-primary;
@button-primary-border:                 @button-primary-background;
@button-primary-hover-color:            @white;
@button-primary-hover-background:       @color-primary-accent;
@button-primary-hover-border:           @button-primary-hover-background;

@button-secondary-color:                @white;
@button-secondary-background:           @color-secondary;
@button-secondary-border:               @button-secondary-background;
@button-secondary-hover-color:          @white;
@button-secondary-hover-background:     @color-secondary-accent;
@button-secondary-hover-border:         @button-secondary-hover-background;


// TABLES
// -------------------------------------------------------
// Use table styles via classes: .table, .table--striped,
// .table--bordered, .table--highlight & .table-responsive

@table-font-family:                     @base-font-family;
@table-font-size:                       @base-font-size - 2;
@table-background:                      transparent;
@table-caption-padding:                 0 0 @spacing-half;
@table-headfoot-color:                  @grey-800;
@table-headfoot-font-weight:            700;
@table-cell-padding:                    @spacing-half @spacing-fifth;
@table-border-width:                    1px;
@table-border-color:                    @grey-100;
@table-stripe-background:               @grey-25;
@table-higlight-background:             @grey-50;
@table-higlight-color:                  inherit;


// TAGS & BADGES
// -------------------------------------------------------
@tag-font-family:                       @base-font-family;
@tag-font-size:                         @base-font-size - 2;
@tag-font-weight:                       400;
@tag-background:                        @grey-25;
@tag-border-radius:                     @border-radius-small;
@tag-border-width:                      1px;
@tag-text-transform:                    normal;
@tag-letter-spacing:                    @letter-spacing-loose;
@tag-height:                            28px;
@tag-padding-x:                         6px;
@tag-color:                             @grey-700;
@tag-border-color:                      @grey-100;
@tag-primary-color:                     @white;
@tag-primary-background:                @color-primary;
@tag-primary-border-color:              @color-primary;

@badge-font-family:                     @base-font-family;
@badge-font-size:                       10px;
@badge-font-weight:                     400;
@badge-background:                      @grey-25;
@badge-border-radius:                   999em;
@badge-border-width:                    2px;
@badge-letter-spacing:                  @letter-spacing-base;
@badge-height:                          21px;
@badge-padding-x:                       2px;
@badge-color:                           @grey-700;
@badge-border-color:                    @grey-100;
@badge-primary-color:                   @white;
@badge-primary-background:              @color-primary;
@badge-primary-border-color:            @color-primary;


// TOOLTIPS
// -------------------------------------------------------
@tooltip-background:                    @grey-800;
@tooltip-color:                         @grey-50;
@tooltip-border-radius:                 @border-radius-default;
@tooltip-padding-y:                     @spacing-third;
@tooltip-padding-x:                     @spacing-half;
@tooltip-multiline-width:               160px;
@tooltip-box-shadow:                    none;
@tooltip-offset:                        2px;
@tooltip-anim-duration:                 @transition-duration-default;
@tooltip-anim-delay:                    50ms;
@tooltip-font-family:                   @base-font-family;
@tooltip-font-size:                     @base-font-size - 2;
@tooltip-font-weight:                   400;
@tooltip-line-height:                   @line-height-tighter;
@tooltip-letter-spacing:                @letter-spacing-loose;
@tooltip-arrow-size:                    6px;


// LOADER
// -------------------------------------------------------
@loader-color:                          @color-primary;
@loader-size:                           @base-font-size;
@loader-speed:                          500ms;
@loader-thickness:                      2px;
@loader-opacity:                        1;


// MISC
// -------------------------------------------------------

// Navigation responsive
@nav-responsive-breakpoint:             @breakpoint-medium;

// Field-group collapse
@field-group-breakpoint:                @breakpoint-medium;

// Icons
@icon-x-small-size:                     16px;
@icon-small-size:                       24px;
@icon-medium-size:                      32px;
@icon-large-size:                       48px;
@icon-x-large-size:                     64px;
@icon-baseline-shift:                   -0.0625em;

// Border-radius
@border-radius-small:                   3px;
@border-radius-default:                 6px;
@border-radius-large:                   9px;

// Box-shadow
@box-shadow-small:                      0 2px 4px rgba(0,0,0,.05);
@box-shadow-default:                    0 2px 4px rgba(0,0,0,0.1),0 2px 8px rgba(0,0,0,0.05);
@box-shadow-large:                      0 2px 4px rgba(0,0,0,0.05),0 3px 12px rgba(0,0,0,0.15);

// Media
@media-background:                      transparent;

// Transition & Animation
@transition-duration-fastest:           @transition-duration-default / 4;
@transition-duration-faster:            @transition-duration-default / 2;
@transition-duration-fast:              @transition-duration-default / 1.5;
@transition-duration-default:           250ms;
@transition-duration-slow:              @transition-duration-default * 1.5;
@transition-duration-slower:            @transition-duration-default * 2;
@transition-duration-slowest:           @transition-duration-default * 4;
@transition-easing-default:             cubic-bezier(0.445, 0.05, 0.55, 0.95);


// Z-INDEX SCALE
// -------------------------------------------------------

@z-index-1:                             100;  // i.e navbar
@z-index-2:                             200;  // i.e navbar dropdown
@z-index-3:                             300;
@z-index-4:                             400;
@z-index-5:                             500;
@z-index-6:                             600;  // i.e alerts & notifications
@z-index-7:                             700;  // i.e popover
@z-index-8:                             800;  // i.e tooltip
@z-index-9:                             900;  // i.e modal
@z-index-10:                            1000; // development


// INCLUDES
// -------------------------------------------------------
// Set whatever components you want included
// in your project to `true` and any components
// you do not wish to be included to `false`

// Core
@use-resets:                            true;

// Base
@use-main:                              true;
@use-typography:                        true;
@use-horizontal-rule:                   true;
@use-lists:                             true;
@use-embed-content:                     true;
@use-forms:                             true;
@use-tables:                            true;
@use-print:                             true;

// Screen Sizes
@use-screen-small:                      true;
@use-screen-medium:                     true;
@use-screen-large:                      true;
@use-screen-x-large:                    true;
@use-screen-xx-large:                   true;

// Objects
@use-animation:                         true;
    @use-animation-modifiers:           true;
@use-icons:                             true;
@use-buttons:                           true;
@use-button-group:                      true;
@use-form-styles:                       true;
    @use-input-modifiers:               true;
@use-form-fields:                       true;
@use-form-messages:                     true;
@use-grid-classes:                      true;
    @use-container:                     true;
    @use-grid:                          true;
    @use-grid-column:                   true;
    @use-grid-modifiers:                true;
@use-table-styles:                      true;
@use-tags-badges:                       true;
@use-tooltips:                          true;
@use-media:                             true;
@use-loader:                            true;
@use-responsive-navigation:             true;

// Utilities
@use-colors:                            true;
@use-display:                           true;
@use-flex-alignment:                    true;
@use-floats:                            true;
@use-margins:                           true;
@use-paddings:                          true;
@use-text-alignment:                    true;
@use-text-inherit:                      true;
@use-text-weight:                       true;
@use-utility-classes:                   true;
@use-visibility:                        true;
@use-vertical-align:                    true;
@use-widths:                            true;

// Animations

// Sliding Enterances
@use-slide-in-down:                     true;
@use-slide-in-left:                     true;
@use-slide-in-right:                    true;
@use-slide-in-up:                       true;
// Sliding Exits
@use-slide-out-down:                    true;
@use-slide-out-left:                    true;
@use-slide-out-right:                   true;
@use-slide-out-up:                      true;
// Attention Seekers
@use-bounce:                            true;
@use-flash:                             true;
@use-pulse:                             true;
@use-shake:                             true;
@use-swing:                             true;
@use-tada:                              true;
@use-wobble:                            true;
// Fading Enterances
@use-fade-in:                           true;
@use-fade-in-down:                      true;
@use-fade-in-left:                      true;
@use-fade-in-right:                     true;
@use-fade-in-up:                        true;
// Fading Exits
@use-fade-out:                          true;
@use-fade-out-down:                     true;
@use-fade-out-left:                     true;
@use-fade-out-right:                    true;
@use-fade-out-up:                       true;
// Zooms
@use-zoom-in:                           true;
@use-zoom-out:                          true;
// Bounces
@use-bounce-in:                         true;
@use-bounce-out:                        true;
// Rolls
@use-roll-in:                           true;
@use-roll-out:                          true;
