//
// Animations
// -------------------------------------------------------
.animations(@boolean) when (@boolean =true) {

    .animated {
        animation-duration: 1000ms;
        animation-fill-mode: both;
        transform: translateZ(0); // Improve performance on mobile/tablet devices
    }

    .animated--loop {
        animation-iteration-count: infinite;
    }

    // Enable/disable only animations you need.

    // Sliding Enterances
    @import 'animate/slide-in-down.less';
    @import 'animate/slide-in-left.less';
    @import 'animate/slide-in-right.less';
    @import 'animate/slide-in-up.less';

    // Sliding Exits
    @import 'animate/slide-out-down.less';
    @import 'animate/slide-out-left.less';
    @import 'animate/slide-out-right.less';
    @import 'animate/slide-out-up.less';

    // Attention Seekers
    @import 'animate/bounce.less';
    @import 'animate/flash.less';
    @import 'animate/pulse.less';
    @import 'animate/shake.less';
    @import 'animate/swing.less';
    @import 'animate/tada.less';
    @import 'animate/wobble.less';

    // Bouncing Enterances
    @import 'animate/bounce-in.less';
    @import 'animate/bounce-in-down.less';
    @import 'animate/bounce-in-left.less';
    @import 'animate/bounce-in-right.less';
    @import 'animate/bounce-in-up.less';

    // Bouncing Exits
    @import 'animate/bounce-out.less';
    @import 'animate/bounce-out-down.less';
    @import 'animate/bounce-out-left.less';
    @import 'animate/bounce-out-right.less';
    @import 'animate/bounce-out-up.less';

    // Fading Enterances
    @import 'animate/fade-in.less';
    @import 'animate/fade-in-down.less';
    @import 'animate/fade-in-left.less';
    @import 'animate/fade-in-right.less';
    @import 'animate/fade-in-up.less';

    // Fading Exits
    @import 'animate/fade-out.less';
    @import 'animate/fade-out-down.less';
    @import 'animate/fade-out-left.less';
    @import 'animate/fade-out-right.less';
    @import 'animate/fade-out-up.less';

    // Zooms
    @import 'animate/zoom-in.less';
    @import 'animate/zoom-out.less';

    // Specials
    @import 'animate/roll-in.less';
    @import 'animate/roll-out.less';

}

.animations(@use-animations);
