//
// Buttons
// -------------------------------------------------------
.use-buttons(@boolean) when (@boolean =true) {

    .button {
        .button-size();
        font-family: @button-font-family;
        border: @button-border-width solid transparent;
        border-radius: @button-border-radius;
        cursor: pointer;
        display: inline-block;
        font-weight: @button-font-weight;
        letter-spacing: @button-letter-spacing;
        outline: 0;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: @button-text-transform;
        transition: background @transition-duration-default @transition-easing-default, color @transition-duration-default @transition-easing-default, opacity @transition-duration-default @transition-easing-default, border @transition-duration-default @transition-easing-default;
        user-drag: none;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap; //prevent line-break
        -webkit-touch-callout: none;
        &:hover,
        &:focus {
            text-decoration: none; // strip styling from <a>.
        }
        &:active,
        &.is-active {}
        &[disabled],
        &:disabled,
        fieldset[disabled] .button {
            opacity: .5;
            cursor: not-allowed;
            pointer-events: none;
            box-shadow: none;
            text-shadow: none;
        }
    }

    //
    // Button modifiers

    // Buttons sizes

    .button--small {
        .button-size(@button-small-font-size, @button-small-height);
    }

    .button--large {
        .button-size(@button-large-font-size, @button-large-height);
    }

    .button--huge {
        .button-size(@button-huge-font-size, @button-huge-height);
    }

    .button--block {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        white-space: normal !important; // line-break for mobile
    }

    // Button variations

    .button--pill {
        border-radius: 999em;
    }

    .button--circle {
        border-radius: 100%;
        padding: 0 !important;
        width: @button-height;
        &.button--small {
            width: @button-small-height;
        }
        &.button--large {
            width: @button-large-height;
        }
        &.button--huge {
            width: @button-huge-height;
        }
    }

    .button--link {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        color: @base-color;
        height: auto;
        line-height: inherit;
        vertical-align: baseline;
        white-space: normal;
        &,
        &:hover,
        &:focus,
        &:active,
        &.is-active {
            border-width: 0;
        }
        &:hover,
        &:focus,
        &:active,
        &.is-active {
            color: @base-link-color;
        }
    }

    .button--default {
        background-color: @button-default-bg;
        border-color: @button-default-border;
        color: @button-default-color;
        &:hover,
        &:focus,
        &:active,
        &.is-active {
            background-color: @button-default-active-bg;
            border-color: @button-default-active-border;
            color: @button-default-active-color;
        }
    }

    .button--primary {
        // styles here
        background-color: @button-primary-bg;
        border-color: @button-primary-border;
        color: @button-primary-color;
        &:hover,
        &:focus,
        &:active,
        &.is-active {
            // styles here
            background-color: @button-primary-active-bg;
            border-color: @button-primary-active-border;
            color: @button-primary-active-color;
        }
    }

    .button--secondary {
        // styles here
        background-color: @button-secondary-bg;
        border-color: @button-secondary-border;
        color: @button-secondary-color;
        &:hover,
        &:focus,
        &:active,
        &.is-active {
            // styles here
            background-color: @button-secondary-active-bg;
            border-color: @button-secondary-active-border;
            color: @button-secondary-active-color;
        }
    }

    .button--success {
        // styles here
        //background-color: @black;
        //border-color: @black;
        //color: @white;
        &:hover,
        &:focus,
        &:active,
        &.is-active {
            // styles here
            //background-color: @black;
            //border-color: @black;
            //color: @white;
        }
    }

    .button--warning {
        // styles here
        //background-color: @black;
        //border-color: @black;
        //color: @white;
        &:hover,
        &:focus,
        &:active,
        &.is-active {
            // styles here
            //background-color: @black;
            //border-color: @black;
            //color: @white;
        }
    }

    .button--danger {
        // styles here
        //background-color: @black;
        //border-color: @black;
        //color: @white;
        &:hover,
        &:focus,
        &:active,
        &.is-active {
            // styles here
            //background-color: @black;
            //border-color: @black;
            //color: @white;
        }
    }

    .button--info {
        // styles here
        //background-color: @black;
        //border-color: @black;
        //color: @white;
        &:hover,
        &:focus,
        &:active,
        &.is-active {
            // styles here
            //background-color: @black;
            //border-color: @black;
            //color: @white;
        }
    }

    //
    // Button-group
    .use-button-group(@boolean) when (@boolean =true) {
        .button-group {
            display: inline-flex;
            flex-wrap: wrap;
            .button {
                flex: 1 0 auto;
                &:first-child:not(:last-child) {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
                &:not(:first-child):not(:last-child) {
                    margin-left: -@button-border-width;
                    border-radius: 0;
                }
                &:last-child:not(:first-child) {
                    margin-left: -@button-border-width;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
                &:hover,
                &:focus {
                    z-index: 2; // rise hovered button above others
                }
            }
            &.button-group--block {
                display: flex;
            }
        }
    }
    .use-button-group(@use-button-group);
}

.use-buttons(@use-buttons);
