//
// Buttons
// -------------------------------------------------------
.use-buttons(@boolean) when (@boolean = true) {

    .button {
        .button-size();
        border: @button-border-width solid transparent;
        border-radius: @button-border-radius;
        cursor: pointer;
        display: inline-block;
        font-weight: @button-font-weight;
        outline: 0;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: background-color 200ms linear, color 200ms linear, opacity 200ms linear, border-color 200ms linear;
        user-drag: none;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap; //prevent line-break
        -webkit-touch-callout: none;
        &:hover,
        &:focus {
            text-decoration: none; // strip styling from <a>.
        }
        &:active,
        &.is-active {
        }
        &[disabled],
        &:disabled,
        fieldset[disabled] .button {
            opacity: .5;
            cursor: not-allowed;
            pointer-events: none;
            box-shadow: none;
            text-shadow: none;
        }
    }

    //Buttons sizes
    .button--small {
        .button-size(.75);
    }

    .button--large {
        .button-size(1.5);
    }

    .button--huge {
        .button-size(2);
    }

    .button--block {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        white-space: normal !important; // line-break for mobile
    }

    //Button variations
    .button--pill {
        border-radius: 999em;
    }

    .button--circle {
        border-radius: 100%;
        padding: 0 !important;
        width: @button-height;
        &.button--small {
            width: (@button-height * .75);
        }
        &.button--large {
            width: (@button-height * 1.5);
        }
        &.button--huge {
            width: (@button-height * 2);
        }
    }

    .button--link {
        border-radius: 0;
        box-shadow: none;
        color: @base-color;
        font-weight: 400;
        height: auto;
        line-height: inherit;
        padding: 0;
        vertical-align: baseline;
        white-space: normal;
        text-align: left;
        &,
        &:hover,
        &:focus,
        &:active,
        &.is-active {
            border-width: 0;
        }
        &:hover,
        &:focus {
            color: @base-link-color;
        }
    }


    .button--default {
        background-color: transparent;
        border-color: @grey-800;
        color: @grey-800;
        &:hover,
        &:focus,
        &:active,
        &.is-active{
            background-color: @grey-800;
            border-color: @grey-800;
            color: contrast(@grey-800, @base-color);
        }
    }


    .button--primary {
        // styles here
        background-color: transparent;
        border-color: @color-primary;
        color: @color-primary;
        &:hover,
        &:focus,
        &:active,
        &.is-active {
            // styles here
            background-color: @color-primary;
            border-color: @color-primary;
            color: contrast(@color-primary, @base-color);
        }
    }


    .button--secondary {
        // styles here
        //background-color: @black;
        //border-color: @black;
        //color: @white;
        &:hover,
        &:focus,
        &:active,
        &.is-active {
            // styles here
            //background-color: @black;
            //border-color: @black;
            //color: @white;
        }
    }

    .button--primary-variation {
        // styles here
        //background-color: @black;
        //border-color: @black;
        //color: @white;
        &:hover,
        &:focus,
        &:active,
        &.is-active {
            // styles here
            //background-color: @black;
            //border-color: @black;
            //color: @white;
        }
    }

    .button--success {
        // styles here
            //background-color: @black;
            //border-color: @black;
            //color: @white;
        &:hover,
        &:focus,
        &:active,
        &.is-active {
            // styles here
            //background-color: @black;
            //border-color: @black;
            //color: @white;
        }
    }


    .button--warning {
        // styles here
        //background-color: @black;
        //border-color: @black;
        //color: @white;
        &:hover,
        &:focus,
        &:active,
        &.is-active {
            // styles here
            //background-color: @black;
            //border-color: @black;
            //color: @white;
        }
    }

    .button--danger {
        // styles here
        //background-color: @black;
        //border-color: @black;
        //color: @white;
        &:hover,
        &:focus,
        &:active,
        &.is-active {
            // styles here
            //background-color: @black;
            //border-color: @black;
            //color: @white;
        }
    }

    .button--info {
        // styles here
        //background-color: @black;
        //border-color: @black;
        //color: @white;
        &:hover,
        &:focus,
        &:active,
        &.is-active {
            // styles here
            //background-color: @black;
            //border-color: @black;
            //color: @white;
        }
    }

}
.use-buttons(@use-buttons);
