//
// Button-group
// -------------------------------------------------------

.use-button-group(@boolean) when (@boolean =true) {

	.button-group {
		display: inline-flex;
		flex-wrap: wrap;
		.hook-button-group;

		.button {
			flex: 1 0 auto;
			z-index: 1;

			&:first-child:not(:last-child) {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			&:not(:first-child):not(:last-child) {
				border-radius: 0;
				margin-left: -@button-border-width;
			}

			&:last-child:not(:first-child) {
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
				margin-left: -@button-border-width;
			}

			&:hover,
			&:focus {
				z-index: 2; // rise hovered button above normal
			}

			&:active,
			&.is-active {
				z-index: 3; // keep active button above others
			}

			.hook-button-group-button;
		}

		&.button-group--block {
			display: flex;
		}
	}
}

.use-button-group(@use-button-group);

// Hooks
.hook-button-group() {}

.hook-button-group-button() {}
