//
// Embed wrapper
// -------------------------------------------------------
.embed-wrap(@boolean) when (@boolean = true) {

    // Usage
    // <element class="embed-wrap">
    //    <embed>...</embed>
    // </element>

    .embed-wrap {
        position: relative;
        height: 0;
        padding: 0;
        padding-bottom: (9 / 16 * 100%); // 16:9 aspect-ratio
        overflow: hidden;
        iframe,
        object,
        embed,
        video {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            border: 0;
        }
    }

}
.embed-wrap(@use-embed-wrap);
