//
// Form Messages
// -------------------------------------------------------
.use-form-messages(@boolean) when (@boolean =true) {

	.form-message {
		color: @form-message-color;
		display: block;
		font-family: @form-message-font-family;
		font-size: @form-message-font-size;
		font-weight: @form-message-font-weight;
		line-height: @form-message-line-height;
		margin: @form-message-vertical-margin 0;
		text-align: @form-message-text-align;

		// Success
		.form-message--success {
			color: @color-success;
		}

		// Error
		.form-message--error {
			color: @color-error;
		}

		// Warning
		.form-message--warning {
			color: @color-warning;
		}

	}

	.use-form-messages(@use-form-messages);
