//
// Form fields
// -------------------------------------------------------
.use-form-fields(@boolean) when (@boolean =true) {

	// Field
	.field {
		clear: both;
		display: block;
		margin-bottom: @form-field-margin;
		position: relative;

		>label {
			margin: 0 0 @label-vertical-margin 0;
		}
	}

	.field--inline {
		align-items: center;
		display: flex;

		label {
			flex-shrink: 0; // fix for iOS
			margin: 0 @label-horizontal-margin 0 0;
		}

		input,
		select {
			flex-shrink: 1; // fix for IE10
		}
	}

	// Field-groups, only for larger screens
	.field-group {
		margin-bottom: @form-field-margin;
		position: relative;
		width: 100%;

		&:last-child,
		&:last-child .field:last-child {
			margin-bottom: 0;
		}

		@media (min-width: (@field-group-breakpoint)) {
			align-items: center stretch;
			display: flex;

			>.field {
				flex: 1 1 auto; // claim available space
				margin-bottom: 0;
				padding-left: (@grid-gutter-width / 2);
				padding-right: (@grid-gutter-width / 2);
				width: 1%;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}
		}
	}

	.field-group--half {
		@media (min-width: (@field-group-breakpoint)) {
			.field {
				padding-left: (@grid-gutter-width / 4);
				padding-right: (@grid-gutter-width / 4);
			}
		}
	}

	.field-group--flush {
		@media (min-width: (@field-group-breakpoint)) {
			.field {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	.field-group--inline {
		@media (min-width: (@field-group-breakpoint)) {
			>.field {
				align-items: center;
				display: flex;

				label {
					margin: 0 @label-horizontal-margin 0 0;
					flex-shrink: 0; // fix for iOS

				}

				input,
				select {
					flex-shrink: 1; // fix for IE10
				}
			}
		}
	}
}

.use-form-fields(@use-form-fields);
