//
// Grid
// -------------------------------------------------------
.use-grid-classes(@boolean) when (@boolean =true) {

    // Usage
    // <element class="container">
    //    <element class="row">
    //        <element class="column u-width-sm-*">
    //        </element>
    //    </element>
    // </element>

    // Container

    .use-container(@boolean) when (@boolean =true) {
        .container,
        .container-fluid {
            .make-container();
        }

        // Container widths

        // Container Small (Default)

        .use-screen-sm(@boolean) when (@boolean =true) {
            .container {
                max-width: @container-sm;
            }
        }
        .use-screen-sm(@use-screen-sm);

        // Container Medium

        .use-screen-md(@boolean) when (@boolean =true) {
            @media @md-up {
                .container {
                    max-width: @container-md;
                }
            }
        }
        .use-screen-md(@use-screen-md);

        // Container Large

        .use-screen-lg(@boolean) when (@boolean =true) {
            @media @lg-up {
                .container {
                    max-width: @container-lg;
                }
            }
        }
        .use-screen-lg(@use-screen-lg);

        // Container Extra-Large

        .use-screen-xl(@boolean) when (@boolean =true) {
            @media @xl-up {
                .container {
                    max-width: @container-xl;
                }
            }
        }
        .use-screen-xl(@use-screen-xl);
    }
    .use-container(@use-container);

    // Row

    .use-row(@boolean) when (@boolean =true) {
        .row {
            .make-row();
        }
    }
    .use-row(@use-row);

    // Column

    .use-column(@boolean) when (@boolean =true) {
        .column {
            .make-column(@grid-gutter-width);
            width: 100%; // Default width for mobile column
        }
    }
    .use-column(@use-column);

    // Row variations

    .use-row-variations(@boolean) when (@boolean =true) {

        // Row with half gutters
        .row--half {
            margin-left: ceil(@grid-gutter-width / -4);
            margin-right: floor(@grid-gutter-width / -4);
            > .column {
                padding-left: (@grid-gutter-width / 4);
                padding-right: (@grid-gutter-width / 4);
            }
        }

        // Row with narrow 2px gutters

        .row--narrow {
            margin-left: -1px;
            margin-right: -1px;
            > .column {
                padding-left: 1px;
                padding-right: 1px;
            }
        }
        // Flush row gutters
        .row--collapse {
            margin-left: 0;
            margin-right: 0;
            > .column {
                padding-left: 0;
                padding-right: 0;
            }
        }

        // Flex-grid only features

        // Row with centered columns

        .row--centered {
            & when (@use-flex-grid =true) {
                justify-content: center;
            }
        }

        // Row with equal height columns

        .row--equal-height {
            & when (@use-flex-grid =true) {
                > .column {
                    display: flex;
                }
            }
        }
    }
    .use-row-variations(@use-row-variations);
}

.use-grid-classes(@use-grid-classes);
