.icons(@boolean) when (@boolean =true) {
	//
	// Icon fonts
	// -------------------------------------------------------

	.icon {
		display: inline-block;
		fill: currentColor;
		flex-shrink: 0;
		height: 1em;
		pointer-events: none;
		vertical-align: middle;
		width: 1em;
	}

	.button .icon,
	.icon--aligned {
		position: relative;
		top: @icon-baseline-shift;
	}

	// Icon sizes

	.icon--small {
		.icon-size(@icon-small-size);
	}

	.icon--medium {
		.icon-size(@icon-medium-size);
	}

	.icon--large {
		.icon-size(@icon-large-size);
	}

	.icon--x-large {
		.icon-size(@icon-x-large-size);
	}


}

.icons(@use-icons);
