.icons(@boolean) when (@boolean =true) {
//
// Icon fonts
// -------------------------------------------------------

    .icon {
        display: inline-block;
        height: 1em;
        width: 1em;
        vertical-align: middle;
        pointer-events: none;
    }

    .button .icon,
    .icon--text-alignment {
        position: relative;
        top: -0.0625em;
    }

    // Icon sizes

    .icon--small {
        .icon-size(@icon-small-size);
    }

    .icon--medium {
        .icon-size(@icon-medium-size);
    }

    .icon--large {
        .icon-size(@icon-large-size);
    }

    .icon--huge {
        .icon-size(@icon-huge-size);
    }


}

.icons(@use-icons);
