.icons(@boolean) when (@boolean = true) {
//
// Icon fonts
// -------------------------------------------------------
    @font-face {.font-face('<%= fontName %>', '<%= fontName %>', normal, normal);}

    .<%= className %> {
        font: normal normal normal @icon-font-size/1 '<%= fontName %>';
        display: inline-block;
        speak: none;
        text-rendering: auto;
        text-decoration: inherit;
        text-transform: none;
        font-feature-settings: "liga";
        user-select: none;
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;

        .button & {
            line-height: inherit;
        }
    }

    .<%= className %>--lg:before { (@icon-font-size * 1.5); }
    .<%= className %>--2x:before { (@icon-font-size * 2); }
    .<%= className %>--3x:before { (@icon-font-size * 3); }
    .<%= className %>--4x:before { (@icon-font-size * 4); }
    .<%= className %>--5x:before { (@icon-font-size * 5); }


<% _.each(glyphs, function(glyph) { %>.<%= className %>-<%= glyph.name %>:before { content: "\<%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %>" }
<% }); %>

}
.icons(@use-icons);

/* icons.less content, in case of orginal is lost

.icons(@boolean) when (@boolean = true) {
//
// Icon fonts
// -------------------------------------------------------
    @font-face {.font-face('icons', 'icons', normal, normal);}

    .icon {
        font: normal normal normal @icon-font-size/1 'icons';
        display: inline-block;
        speak: none;
        text-rendering: auto;
        text-decoration: inherit;
        text-transform: none;
        font-feature-settings: "liga";
        user-select: none;
        .button & {
            line-height: inherit;
        }
    }

    .icon--lg:before { font-size: (@icon-font-size * 1.5); }
    .icon--2x:before { font-size: (@icon-font-size * 2); }
    .icon--3x:before { font-size: (@icon-font-size * 3); }
    .icon--4x:before { font-size: (@icon-font-size * 4); }
    .icon--5x:before { font-size: (@icon-font-size * 5); }


    // Insert icon styles here


}
.icons(@use-icons);
*/
