//
// Responsive navigation
// -------------------------------------------------------
.responsive-navigation(@boolean) when (@boolean =true) {

    // Responsive navigation
    .nav--responsive {
        overflow-x: visible;
        .clearfix();
        -webkit-overflow-scrolling: touch;
        // Prevent nav__list flashing when javascript isn't loaded
        @media (max-width: (@nav-responsive-breakpoint - 1px)) {
            .nav__list {
                display: none;
                visibility: hidden;
                &.is-open {
                    display: block;
                    visibility: visible;
                    overflow-y: auto;
                }
            }
        }
        @media (min-width: (@nav-responsive-breakpoint)) {
            width: auto;
            .nav__list {
                display: block;
                height: auto;
                overflow: visible;
                visibility: visible;
            }
            // Hide toggle-buttons
            .nav__toggler,
            .nav__dropdown-toggler {
                display: none;
            }
        }
    }

    // Nav-toggle
    .nav__toggler {
        //.hamburger(); // Add hamburger-menu for nav-toggle
    }
}

.responsive-navigation(@use-responsive-navigation);
