//
// Responsive navigation
// -------------------------------------------------------
.responsive-navigation(@boolean) when (@boolean =true) {


	.nav-responsive() {
		& when (@nav-responsive-breakpoint =@breakpoint-x-large) {

			[data-navigation] {
				-webkit-overflow-scrolling: touch; // Prevent "ul" flashing when javascript isn't loaded
				overflow-x: visible;

				[data-content] {
					display: none;
					visibility: hidden;

					&.is-open {
						display: block;
						overflow-y: auto;
						visibility: visible;
					}
				}
			}

			.menu-open {
				height: 100% !important overflow: hidden !important;
			}

			.submenu-open {
				height: 100% !important overflow: hidden !important;
			}

			[data-overlay] {
				bottom: 0;
				left: 0;
				opacity: 0;
				position: fixed;
				right: 0;
				top: 0;
				visibility: hidden;
				width: 100%;

				&.is-visible {
					opacity: 1;
					visibility: visible;
				}
			}

		}

		& when not (@nav-responsive-breakpoint =@breakpoint-x-large) {
			[data-navigation] {
				overflow-x: visible;
				-webkit-overflow-scrolling: touch; // Prevent "ul" flashing when javascript isn't loaded

				@media @nav-responsive-down {
					[data-content] {
						display: none;
						visibility: hidden;

						&.is-open {
							display: block;
							overflow-y: auto;
							visibility: visible;
						}
					}
				}

				@media @nav-responsive-up {
					width: auto;

					[data-content] {
						display: block;
						height: auto;
						overflow: visible;
						visibility: visible;
					}

					// Hide navigation toggle-buttons
					[data-toggle] {
						display: none;
					}
				}
			}

			@media @nav-responsive-down {
				.menu-open {
					height: 100% !important overflow: hidden !important;
				}
			}

			@media @nav-responsive-up {
				.submenu-open {
					height: 100% !important overflow: hidden !important;
				}
			}

			@media @nav-responsive-up {
				[data-overlay] {
					bottom: 0;
					left: 0;
					opacity: 0;
					position: fixed;
					right: 0;
					top: 0;
					visibility: hidden;
					width: 100%;

					&.is-visible {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}

	.nav-responsive();

}

.responsive-navigation(@use-responsive-navigation);
