//
// Responsive navigation
// -------------------------------------------------------
.responsive-navigation(@boolean) when (@boolean =true) {

    // Responsive navigation
    .navbar--responsive {
        overflow-x: visible;
        .clearfix();
        -webkit-overflow-scrolling: touch;
        .is-collapsible {
            display: none;
            visibility: hidden;
            &.is-open {
                display: block;
                visibility: visible;
                overflow-y: auto;
            }
        }
        @media (min-width: (@nav-responsive-breakpoint)) {
            width: auto;
            .is-collapsible {
                display: block!important;
                height: auto!important;
                overflow: visible!important;
                visibility: visible!important;
            }
            // Hide toggle-buttons
            .navbar-toggle,
            .dropdown-toggle {
                display: none;
            }
        }
    }

    // Navbar-toggle

    .navbar-toggle {
        .hamburger();
    }
}

.responsive-navigation(@use-responsive-navigation);
