//
// Spinner
// -------------------------------------------------------
.spinner(@boolean) when (@boolean =true) {

    .spinner {
        animation: spinner @spinner-speed infinite linear;
        border: @spinner-thickness solid @spinner-color;
        border-radius: 50%;
        border-right-color: transparent;
        height: @spinner-size;
        width: @spinner-size;
        display: inline-block;
    }

    @keyframes spinner {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.spinner(@use-spinner);
