//
// Table styles
// -------------------------------------------------------
.table-styles(@boolean) when (@boolean =true) {

	// Basic table styling
	.table {
		background-color: @table-background;
		font-family: @table-font-family;
		font-size: @table-font-size;

		caption {
			padding: @table-caption-padding;
		}

		>thead {
			>tr {
				>th {
					border-bottom: @table-border-width solid @table-border-color;
					color: @table-headfoot-color;
					font-weight: @table-headfoot-font-weight;
					padding: @table-cell-padding;
					vertical-align: top;
				}
			}
		}

		>tbody {
			>tr {

				>td,
				th {
					border-bottom: @table-border-width solid @table-border-color;
					padding: @table-cell-padding;
					vertical-align: top;

					&:not(td) {
						font-weight: @table-headfoot-font-weight;
					}
				}
			}
		}

		>tfoot {
			>tr {
				>td {
					border-bottom: none;
					color: @table-headfoot-color;
					font-weight: @table-headfoot-font-weight;
					padding: @table-cell-padding;
					vertical-align: top;
				}
			}
		}

		&.table--striped {
			tbody {
				tr:nth-of-type(odd) {
					background: @table-stripe-background;
				}
			}
		}

		&.table--bordered {
			border: @table-border-width solid @table-border-color;
		}

		&.table--highlight {
			tbody {
				tr {
					&:hover {
						background: @table-higlight-background;
						color: @table-higlight-color;
					}
				}
			}
		}
	}

	// Rensponsive table
	// Add horizontal scrolling if the table
	// contents overflow its parent element.
	// Usage
	// <element class="table-responsive">
	//    <table>...</table>
	// </element>

	.table-responsive {
		margin-bottom: @spacing-base; // add vertical-rhytmn
		.momentum-scrolling();
		.pretty-scrollbars();

		table {
			margin-bottom: 0; // remove vertical-rhytmn
		}
	}
}

.table-styles(@use-table-styles);
