.icons(@boolean) when (@boolean = true) {
//
// Icon fonts
// -------------------------------------------------------
	@font-face {.font-face('<%= fontName %>', '<%= fontName %>', normal, normal);}
	
	.<%= className %> {
        font: normal normal normal @icon-font-size/1 '<%= fontName %>';
        display: inline-block;
        speak: none;
        text-rendering: auto;
        text-decoration: inherit;
        text-transform: none;
        font-feature-settings: "liga";
        user-select: none;
		.button & {
			line-height: inherit;
		}
	}
    
    .<%= className %>-lg:before { font-size: 1.5em; }
    .<%= className %>-2x:before { font-size: 2em; }
    .<%= className %>-3x:before { font-size: 3em; }
    .<%= className %>-4x:before { font-size: 4em; }
    .<%= className %>-5x:before { font-size: 5em; }
    
    
<% _.each(glyphs, function(glyph) { %>.<%= className %>-<%= glyph.name %>:before { content: "\<%= glyph.codepoint.toString(16).toUpperCase() %>" }
<% }); %> 	
	
}
.icons(@use-icons);

/* icons.less content, in case of orginal is lost

.icons(@boolean) when (@boolean = true) {
//
// Icon fonts
// -------------------------------------------------------
	@font-face {.font-face('icons', 'icons', normal, normal);}
	
	.icon {
        font: normal normal normal @icon-font-size/1 'icons';
        display: inline-block;
        speak: none;
        text-rendering: auto;
        text-decoration: inherit;
        text-transform: none;
        font-feature-settings: "liga";
        user-select: none;
		.button & {
			line-height: inherit;
		}
	}
    
    .icon-lg:before { font-size: 1.5em; }
    .icon-2x:before { font-size: 2em; }
    .icon-3x:before { font-size: 3em; }
    .icon-4x:before { font-size: 4em; }
    .icon-5x:before { font-size: 5em; }
    
    
    // Insert icon styles here
	
	
}
.icons(@use-icons);
*/