//
// Arrows
// -------------------------------------------------------

// Usage Arrow
// .selector {
//    position: relative/absolute/fixed;
//    .arrow(side, size, align, color,border-width*, border-color*);
// }
// * optional

// Usage Caret
// .caret {
//    .caret(size, color);
// }

// Caret
.caret(@size, @color) {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    &:after {
        display: block;
        content: "";
        width: 0;
        height: 0;
        border-top: @size solid @color;
        border-right: @size solid transparent;
        border-left: @size solid transparent;
    }
}

// Arrow on box
.arrow(@side, @size, @align: 50%, @color, @border-width: 0, @border-color: inherit) {
    // Variables
    @margin-offset: @size + @border-width;
    //position: relative;
    & when (@border-width > 0) {
        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-color: transparent;
        }
    }
    & when (@border-width =0) {
        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-color: transparent;
            pointer-events: none;
            visibility: visible;
        }
    }
    // Arrow top
    & when (@side =top) {
        &:after {
            margin-left: -@size;
            border-width: 0 @size @size @size;
            border-bottom-color: @color;
            & when not(@align =none) {
                bottom: 100%;
                left: @align;
            }
        }
        &:before when (@border-width > 0) {
            margin-left: -@margin-offset;
            border-width: 0 @margin-offset @margin-offset @margin-offset;
            border-bottom-color: @border-color;
            & when not(@align =none) {
                bottom: 100%;
                left: @align;
            }
        }
    }
    // Arrow Bottom
    & when (@side =bottom) {
        &:after {
            margin-left: -@size;
            border-width: @size @size 0 @size;
            border-top-color: @color;
            & when not(@align =none) {
                top: 100%;
                left: @align;
            }
        }
        &:before when (@border-width > 0) {
            margin-left: -@margin-offset;
            border-width: @margin-offset @margin-offset 0 @margin-offset;
            border-top-color: @border-color;
            & when not(@align =none) {
                top: 100%;
                left: @align;
            }
        }
    }
    // Arrow Left
    & when (@side =left) {
        &:after {
            margin-top: -@size;
            border-width: @size @size @size 0;
            border-right-color: @color;
            & when not(@align =none) {
                right: 100%;
                top: @align;
            }
        }
        &:before when (@border-width > 0) {
            right: 100%;
            top: @align;
            margin-top: -@margin-offset;
            border-width: @margin-offset @margin-offset @margin-offset 0;
            border-right-color: @border-color;
            & when not(@align =none) {
                right: 100%;
                top: @align;
            }
        }
    }
    // Arrow Right
    & when (@side =right) {
        &:after {
            margin-top: -@size;
            border-width: @size 0 @size @size;
            border-left-color: @color;
            & when not(@align =none) {
                left: 100%;
                top: @align;
            }
        }
        &:before when (@border-width > 0) {
            left: 100%;
            top: @align;
            margin-top: -@margin-offset;
            border-width: @margin-offset 0 @margin-offset @margin-offset;
            border-left-color: @border-color;
            & when not(@align =none) {
                left: 100%;
                top: @align;
            }
        }
    }
}
