//
// Aspect ratio
// -------------------------------------------------------

// Maintain Aaspect ratio of unknown height/width element.

// Usage
// .selector-parent {
//    .aspect-ratio-container();
//    .aspect-ratio(16, 9); // Width : Height
// }


.aspect-ratio(@width, @height) {

    &:before {
        display: block;
        content: "";
        padding-bottom: (@height / @width * 100%);
    }
}

// Aspect ratio Helper mixins

.aspect-ratio-container() {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;

    > *:first-child {
        .cover();
    }
}
