//
// Aspect ratio
// -------------------------------------------------------

// Maintain Aaspect ratio of unknown height/width element.

// Usage
// .selector {
//    .aspect-ratio(16, 9); // Width : Height
// }

// Add '.aspect-ratio-container();' to parent element
// Add '.aspect-ratio-child();' to child element

.aspect-ratio(@width, @height) {
    padding-top: (@height / @width * 100%);
}

// Aspect ratio Helper mixins

.aspect-ratio-container() {
    position: relative;
    height: 0;
    overflow: hidden;
}

.aspect-ratio-child() {
    .cover();
}
