//
// Button size
// -------------------------------------------------------

// Usage
// .selector {
//    .button-size(2);
// }

.button-size(
    @font-size: @button-font-size,
    @height: @button-height,
    @padding-horizontal: @button-horizontal-padding,
    @border-width: @button-border-width) {

    // Pre-calculated multiplier for padding
    @multiplier-return: @height / @button-height;

    font-size: @font-size;
    height: @height;
    line-height: ceil(@height - (@border-width * 2));
    padding: 0 floor(@padding-horizontal * @multiplier-return);
}
