//
// Button
// -------------------------------------------------------

.button() {
    display: inline-block;
    position: relative;
    font-family: @button-font-family;
    font-weight: @button-font-weight;
    letter-spacing: @button-letter-spacing;
    text-transform: @button-text-transform;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    border-width: @button-border-width;
    border-style: solid;
    border-radius: @button-border-radius;
    vertical-align: middle;
    text-align: center;
    outline: 0;
    user-select: none;
    transition: background @transition-duration-default @transition-easing-default, color @transition-duration-default @transition-easing-default, opacity @transition-duration-default @transition-easing-default, border @transition-duration-default @transition-easing-default;
    &:not(:disabled):hover,
    &:not(:disabled):focus, {
        text-decoration: none; // strip styling from <a>.
    }
}

// Button Styles
.button-styles(@color, @background, @border-color) {
    color: @color;
    background-color: @background;
    border-color: @border-color;
}

// Button Theme
.button-theme(
    @color: @button-default-color,
    @background: @button-default-background,
    @border-color: @button-default-border,
    @hover-color: @button-default-hover-color,
    @hover-background: @button-default-hover-background,
    @hover-border-color: @button-default-hover-border,
    @active-color: @hover-color,
    @active-background: @hover-background,
    @active-border-color: @hover-border-color,
    @separate-hover-active: false,
    @disable-active: false) {

    .button-styles(@color, @background, @border-color);

    & when (@separate-hover-active =false) {
        &:not(:disabled):hover,
        &:not(:disabled):focus,
        &:active,
        &.is-active {
            .button-styles(@hover-color, @hover-background, @hover-border-color);
        }
    }

    & when (@separate-hover-active =true) {
        &:not(:disabled):hover,
        &:not(:disabled):focus {
            .button-styles(@hover-color, @hover-background, @hover-border-color);
        }
        & when (@disable-active =false) {
            &:active,
            &.is-active {
                .button-styles(@active-color, @active-background, @active-border-color);
            }
        }
    }
}


// Button Size
.button-size( @font-size: @button-font-size, @height: @button-height, @padding-horizontal: @button-padding-x, @border-width: @button-border-width) {
    // Pre-calculated multiplier for padding
    @multiplier-return: @height / @button-height;
    font-size: @font-size;
    height: @height;
    line-height: ceil(@height - (@border-width * 2));
    padding: 0 floor(@padding-horizontal * @multiplier-return);

    // Use border-width only when it differs from default @button-border-width
    & when not (@border-width = @button-border-width) {
        border-width: @border-width;
    }

}
