//
// Center-block
// -------------------------------------------------------

// Center an element with left/right margin: auto; and
// display: block;

// Usage
// .selector {
//    .center-block();
// }

.center-block() {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
