//
// Center
// -------------------------------------------------------

// Absolutely center an element from the top and left
// by 50% using .translate(-50%, -50%); to center
// based on element size

// Usage
// .selector {
//    .center();
// }

.center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
