//
// Social Media colors
// -------------------------------------------------------

@color-dribbble:                        #EA4C89;
@color-dropbox:                         #007ee5;
@color-facebook:                        #3B5998;
@color-flickr:                          #0063dc;
@color-foursquare:                      #FC4575;
@color-github:                          #181717;
@color-google:                          #4285f4;
@color-heimo:                           #ffb549;
@color-instagram:                       #C32AA3;
@color-linkedin:                        #007BB6;
@color-medium:                          #00ab6b;
@color-mixcloud:                        #314359;
@color-pinterest:                       #CB2027;
@color-rss:                             #ffa500;
@color-snapchat:                        #FFFC00;
@color-skype:                           #00AFF0;
@color-souncloud:                       #ff3300;
@color-spotify:                         #1ED760;
@color-tumblr:                          #36465d;
@color-twitter:                         #00B6F1;
@color-vimeo:                           #45BBFF;
@color-whatsapp:                        #25D366;
@color-wordpress:                       #25D366;
@color-youtube:                         #FF0000;