//
// @Font-face mixin (used in Variables)
// -------------------------------------------------------

.font-face (@fontname, @fontfile, @weight: normal, @style: normal) {
    font-family: '@{fontname}';
    src: url('../../../fonts/@{fontfile}.woff2') format('woff2'),
    url('../../../fonts/@{fontfile}.woff') format('woff'),
    url('../../../fonts/@{fontfile}.ttf') format('truetype');
    font-weight: @weight;
    font-style: @style;
    font-display: swap;
}
