//
// Input-placeholder
// -------------------------------------------------------
.input-placeholder(@color: @input-placeholder-color, @hover-color: @input-placeholder-hover-color, @focus-color: @input-placeholder-focus-color) {
    ::placeholder {
        color: @color;
        transition: color @transition-duration-default @transition-easing-default;
        :hover& {
            color: @hover-color;
        }
        :focus& {
            color: @focus-color;
        }
    }
}
