//
// Input-placeholder
// -------------------------------------------------------

.input-placeholder(@color, @hover-color, @focus-color) {
    ::placeholder {
        color: @color;
        transition: color @transition-duration-default @transition-easing-default;
        :hover& {
            color: @hover-color;
        }
        :focus& {
            color: @focus-color;
        }
    }
}
