//
// Media Queries
// -------------------------------------------------------

// Usage
// @media @medium-down {
//    .selector {}
// }

// Variables
@breakpoint-sm-min: @breakpoint-sm;
@breakpoint-md-min: @breakpoint-md;
@breakpoint-lg-min: @breakpoint-lg;
@breakpoint-xl-min: @breakpoint-xl;

@breakpoint-xs-max: (@breakpoint-sm-min - 1);
@breakpoint-sm-max: (@breakpoint-md-min - 1);
@breakpoint-md-max: (@breakpoint-lg-min - 1);
@breakpoint-lg-max: (@breakpoint-xl-min - 1);

@nav-responsive-breakpoint-min: @nav-responsive-breakpoint;
@nav-responsive-breakpoint-max: (@nav-responsive-breakpoint-min - 1);



// Landscape

@landscape: ~"(orientation:landscape)";

// Potrait

@potrait: ~"(orientation:portrait)";


// Nav Responsive

@nav-responsive-down: ~"(max-width: @{nav-responsive-breakpoint-max})";
@nav-responsive-up: ~"(min-width: @{nav-responsive-breakpoint-min})";


// Extra-extra-small

@xx-small-down: ~"(max-width: 320px)";
@xx-small-only: ~"(max-width: 320px)";

// Extra-small

@x-small-down: ~"(max-width: @{breakpoint-xs-max})";
@x-small-only: ~"(max-width: @{breakpoint-xs-max})";

// Small

@small-up: ~"(min-width: @{breakpoint-sm-min})";
@small-down: ~"(max-width: @{breakpoint-sm-max})";
@small-only: ~"(min-width: @{breakpoint-sm-min}) and (max-width: @{breakpoint-sm-max})";

// Medium

@medium-down: ~"(min-width: @{breakpoint-md-min})";
@medium-down: ~"(max-width: @{breakpoint-md-max})";
@medium-only: ~"(min-width: @{breakpoint-md-min}) and (max-width: @{breakpoint-md-max})";

// Large

@large-up: ~"(min-width: @{breakpoint-lg-min})";
@large-down: ~"(max-width: @{breakpoint-lg-max})";
@large-only: ~"(min-width: @{breakpoint-lg-min}) and (max-width: @{breakpoint-lg-max})";

// Extra-large

@x-large-up: ~"(min-width: @{breakpoint-xl-min})";

// Retina

@retina: ~"only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min--moz-device-pixel-ratio: 2),only screen and (-o-min-device-pixel-ratio: 2/1),only screen and (min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi),only screen and (min-resolution: 2dppx)";

// Media-query hacks for old IE

@ie8: \0screen;

@ie9-10: ~"screen and (min-width:0\0)";
