//
// Placeholder text
// -------------------------------------------------------
.placeholder(@color: @input-placeholder-color, @hover-color: @input-placeholder-hover-color) {
    ::placeholder {
        color: @color;
        transition: color @transition-duration-default @transition-easing-default;
        :hover& {
            color: @hover-color;
        }
    }
}
