//
// Pretty scrollbars
// -------------------------------------------------------

.pretty-scrollbars() {
    ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
        height: 4px;
        width: 4px;
    }

    &::-webkit-scrollbar-track {
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: @border-radius-default;
    }
}
