//
// Scrim
// -------------------------------------------------------

.scrim(@position: bottom, @size: 50%, @opacity: .5, @color: #000000) {
    position: absolute;
    content: "";
    opacity: @opacity;



    & when(@position =bottom), (@position =top) {
        left: 0;
        right: 0;
        height: @size;
    }

    & when(@position =left), (@position =right) {
        top: 0;
        bottom: 0;
        width: @size;
    }

    & when(@position =bottom) {
        background-image: linear-gradient(to bottom, rgba(red(@color), green(@color), blue(@color),0) 0%, rgba(red(@color), green(@color), blue(@color),0.5) 70%, rgba(red(@color), green(@color), blue(@color),1) 100%);
        bottom: 0;
    }
    & when(@position =top) {
        background-image: linear-gradient(to bottom, rgba(red(@color), green(@color), blue(@color),1) 0%, rgba(red(@color), green(@color), blue(@color),0.5) 30%, rgba(red(@color), green(@color), blue(@color),0) 100%);
        top: 0;
    }

    & when(@position =right) {
        background-image:  linear-gradient(to right, rgba(red(@color), green(@color), blue(@color),0) 0%, rgba(red(@color), green(@color), blue(@color),0.5) 70%, rgba(red(@color), green(@color), blue(@color),1) 100%);
        right: 0;
    }

    & when(@position =left) {
        background-image: linear-gradient(to right, rgba(red(@color), green(@color), blue(@color),1) 0%, rgba(red(@color), green(@color), blue(@color),0.5) 30%, rgba(red(@color), green(@color), blue(@color),0) 100%);
        left: 0;
    }
}
