//
// Text overflow
// -------------------------------------------------------

// Truncate single line text with triple-dots.
// Requires inline-block or block for proper styling

.text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
