//
// Vertically centered
// -------------------------------------------------------

// Usage
// .selector {
//    .vertically-centered();
// }

// Add ´transform-style: preserve-3d;´ to parent-element

.vertically-centered() {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
