//
// Embedded content
// -------------------------------------------------------

.embed-content(@boolean) when (@boolean =true) {

	// Fluid-width <audio> & <video> elements
	audio,
	video,
	canvas {
		width: 100%;

		&:focus {
			outline: 1px dotted @black;
		}
	}

	// Fluid-width media that maintain their aspect ratios
	embed,
	img,
	object,
	video {
		max-width: 100%;
		height: auto;
	}

	embed,
	object {
		height: 100%;
	}

	// Fill video with poster image
	video {
		object-fit: initial;
		.hook-video;
	}

	figure {
		margin: 0 0 @spacing-base 0;
		.hook-figure;
	}

}

.embed-content(@use-embed-content);

// Hooks
.hook-video() {}

.hook-figure() {}
