//
// Horizontal rule
// -------------------------------------------------------
.horizontal-rule(@boolean) when (@boolean =true) {

	hr,
	.hr {
		border-top: @hr-border-width solid @hr-border-color;
		border: 0;
		clear: both;
		margin-bottom: @hr-margin;
		margin-top: @hr-margin;
	}

}

.horizontal-rule(@use-horizontal-rule);
