//
// Horizontal rule
// -------------------------------------------------------
.horizontal-rule(@boolean) when (@boolean = true) {

    hr,
    .hr {
        border: 0;
        border-top: @hr-border-width solid @hr-border-color;
        clear: both;
        height: 0;
        margin: @spacing-base auto;
    }

}
.horizontal-rule(@use-horizontal-rule);
