//
// Lists
// -------------------------------------------------------
.lists(@boolean) when (@boolean = true) {

    ul, ol {
        margin-left: @spacing-base;
        & & {
            margin-bottom: 0;
        }
        nav & {
            margin: 0;
            list-style: none;
        }
    }

    dl {
        dt {
            font-weight: bold;
        }
    }

}
.lists(@use-lists);
