//
// Lists
// -------------------------------------------------------
.lists(@boolean) when (@boolean = true) {

    ul,
    ol,
    dl {
        margin-bottom: @spacing-base;
    }

    ul,
    ol {
        & & {
            margin-bottom: 0;
        }
        li {
            margin-left: @spacing-base;
        }
    }

    nav ul {
        margin: 0;
        li {
            margin-left: 0;
        }
    }

    dl {
        dt {
            font-weight: bold;
        }
        dd {
            margin: 0;
        }
    }

}
.lists(@use-lists);
