//
// Tables
// -------------------------------------------------------
.tables(@boolean) when (@boolean = true) {

    table {
        border-collapse: collapse;
        border-spacing: 0;
        empty-cells: show;
        word-wrap: break-word; // for CSS3 browsers
        text-align: left;
        width: 100%;
    }

}
.tables(@use-tables);
