//
// Tables
// -------------------------------------------------------
.tables(@boolean) when (@boolean = true) {

    table {
        empty-cells: show;
        word-wrap: break-word; // for CSS3 browsers
        text-align: left;
        max-width: 100%;
        width: 100%;
        margin: 0 0 @spacing-base 0;
    }

}
.tables(@use-tables);
