//
// Tables
// -------------------------------------------------------
.tables(@boolean) when (@boolean = true) {

    table {
        width: 100%;
        empty-cells: show;
        word-wrap: break-word; // for CSS3 browsers
        text-align: left;
    }

}
.tables(@use-tables);
