//
// Typography
// -------------------------------------------------------
.typography(@boolean) when (@boolean = true) {

    // Links

    a {
        color: @link-color;
        text-decoration: @link-decoration;
        cursor: pointer;
        transition: background-color @transition-duration-default @transition-easing-default, color @transition-duration-default @transition-easing-default, opacity @transition-duration-default @transition-easing-default, border-color @transition-duration-default @transition-easing-default;
        &:hover,
        &:focus {
            color: @link-hover-color;
            text-decoration: @link-hover-decoration;
        }
    }

    // Headings

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        color: @heading-color;
        font-family: @heading-font-family;
        font-weight: @heading-font-weight;
        line-height: @heading-line-height;
        letter-spacing: @heading-letter-spacing;
        margin-bottom: @spacing-base;
        a {
            color: inherit;
        }
    }

    h1,
    .h1 {
        font-size: @heading1-font-size-small;
        @media @medium-up {
            font-size: @heading1-font-size;
        }
    }

    h2,
    .h2 {
        font-size: @heading2-font-size-small;
        @media @medium-up {
            font-size: @heading2-font-size;
        }
    }

    h3,
    .h3 {
        font-size: @heading3-font-size-small;
        @media @medium-up {
            font-size: @heading3-font-size;
        }
    }

    h4,
    .h4 {
        font-size: @heading4-font-size-small;
        @media @medium-up {
            font-size: @heading4-font-size;
        }
    }
    h5,
    .h5 {
        font-size: @heading5-font-size-small;
        @media @medium-up {
            font-size: @heading5-font-size;
        }
    }

    h6,
    .h6 {
        font-size: @heading6-font-size-small;
        @media @medium-up {
            font-size: @heading6-font-size;
        }
    }

    // Display headings

    .display-1 {
        font-size: @display1-font-size-small;
        font-weight: @display1-font-weight;
        @media @medium-up {
            font-size: @display1-font-size;
        }
    }

    .display-2 {
        font-size: @display2-font-size-small;
        font-weight: @display2-font-weight;
        @media @medium-up {
            font-size: @display2-font-size;
        }
    }

    .display-3 {
        font-size: @display3-font-size-small;
        font-weight: @display3-font-weight;
        @media @medium-up {
            font-size: @display3-font-size;
        }
    }

    .display-4 {
        font-size: @display4-font-size-small;
        font-weight: @display4-font-weight;
        @media @medium-up {
            font-size: @display4-font-size;
        }
    }

    // Paragraph

    p {
        margin-bottom: @spacing-base;
    }

    // Lead

    .lead {
        color: @lead-color;
        font-family: @lead-font-family;
        font-size: @lead-font-size;
        font-weight: @lead-font-weight;
        line-height: @lead-line-height;
    }

    // Small

    small,
    .small {
        font-size: @small-font-size;
        font-weight: normal;
    }

    // Mark

    mark,
    .mark {
        background-color: @mark-background-color;
        padding: @mark-padding;
    }

    // Blockquotes

    blockquote,
    q {
        font-style: @blockquote-quote-font-style;
        quotes: "\201C" "\201D" "\2018" "\2019";
    }

    blockquote {
        color: @blockquote-quote-color;
        font-family: @blockquote-quote-font-family;
        font-size: @blockquote-quote-font-size;
        font-weight: @blockquote-quote-font-weight;
        padding: @blockquote-padding;
        margin-bottom: @spacing-base;
        letter-spacing: @blockquote-quote-letter-spacing;
        line-height: @blockquote-quote-line-height;

        // Blockquote Quote
        p {
            margin-bottom: 0;
            &:not(:only-child) {
                margin-bottom: @blockquote-quote-margin;
            }
        }

        // Blockquote Cite
        cite {
            color: @blockquote-cite-color;
            display: inline-block;
            font-family: @base-font-family;
            font-size: @blockquote-cite-font-size;
            font-style: normal;
            font-weight: normal;
            line-height: 1;

            &:before {
                content:"\2014 \0020"; // add – line before cite
            }
        }
    }

    // Pullquote

    .pullquote {
        color: @pullquote-color;
        font-family: @pullquote-font-family;
        font-size: @pullquote-font-size;
        font-style: @pullquote-font-style;
        padding: @pullquote-padding;
        border-left: @pullquote-border-width solid @pullquote-border-color;

        cite {
            font-size: @pullquote-cite-font-size;
            color: @pullquote-cite-color;
        }
    }

    // Code and Pre Elements

    code,
    kbd,
    pre {
        font-size: @code-font-size;
        border-radius: @code-border-radius;
    }

    code,
    pre {
        line-height: 1.25;
        white-space: pre;
        word-wrap: normal;
        word-break: normal;
    }

    code {
        background: @code-background;
        border: 1px solid @code-border-color;
        color: @code-color;
        font-weight: normal;
        padding: @code-padding;
        vertical-align: middle;
    }

    pre {
        background: @pre-background;
        color: @pre-color;
        overflow-x: auto;
        padding: @pre-padding;
            margin-bottom: @spacing-base;
        code {
            background: transparent;
            border: none;
            color: inherit;
            padding: 0;
        }
    }

}
.typography(@use-typography);
