//
// Typography
// -------------------------------------------------------

.typography(@boolean) when (@boolean =true) {

	// Links

	a {
		color: @link-color;
		cursor: pointer;
		text-decoration: @link-decoration;
		transition: background-color @transition-duration-default @transition-easing-default, color @transition-duration-default @transition-easing-default, opacity @transition-duration-default @transition-easing-default, border-color @transition-duration-default @transition-easing-default;
		.hook-a;

		&:hover,
		&:focus {
			color: @link-hover-color;
			text-decoration: @link-hover-decoration;
		}
	}

	// Headings

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		color: @heading-color;
		font-family: @heading-font-family;
		font-weight: @heading-font-weight;
		letter-spacing: @heading-letter-spacing;
		line-height: @heading-line-height;
		margin-bottom: @spacing-base;
		.hook-h;

		a {
			color: inherit;
		}
	}

	h1,
	.h1 {
		font-size: @heading1-font-size-small;

		@media @medium-up {
			font-size: @heading1-font-size-medium;
		}

		@media @large-up {
			font-size: @heading1-font-size-large;
		}

		.hook-h1;
	}

	h2,
	.h2 {
		font-size: @heading2-font-size-small;

		@media @medium-up {
			font-size: @heading2-font-size-medium;
		}

		@media @large-up {
			font-size: @heading2-font-size-large;
		}

		.hook-h2;
	}

	h3,
	.h3 {
		font-size: @heading3-font-size-small;

		@media @medium-up {
			font-size: @heading3-font-size-medium;
		}

		@media @large-up {
			font-size: @heading3-font-size-large;
		}

		.hook-h3;
	}

	h4,
	.h4 {
		font-size: @heading4-font-size-small;

		@media @medium-up {
			font-size: @heading4-font-size-medium;
		}

		@media @large-up {
			font-size: @heading4-font-size-large;
		}

		.hook-h4;
	}

	h5,
	.h5 {
		font-size: @heading5-font-size-small;

		@media @medium-up {
			font-size: @heading5-font-size-medium;
		}

		@media @large-up {
			font-size: @heading5-font-size-large;
		}

		.hook-h5;
	}

	h6,
	.h6 {
		font-size: @heading6-font-size-small;

		@media @medium-up {
			font-size: @heading6-font-size-medium;
		}

		@media @large-up {
			font-size: @heading6-font-size-large;
		}

		.hook-h6;
	}

	// Display headings

	.display-1-size() {
		font-size: @display1-font-size-small;

		@media @medium-up {
			font-size: @display1-font-size-medium;
		}

		@media @large-up {
			font-size: @display1-font-size-large;
		}
	}

	.display-1 {
		font-family: @display1-font-family;
		font-weight: @display1-font-weight;
		.display-1-size();
		.hook-display-1;
	}

	.display-2-size() {
		font-size: @display2-font-size-small;

		@media @medium-up {
			font-size: @display2-font-size-medium;
		}

		@media @large-up {
			font-size: @display2-font-size-large;
		}

	}

	.display-2 {
		font-family: @display2-font-family;
		font-weight: @display2-font-weight;
		.display-2-size();
		.hook-display-2;
	}

	.display-3-size() {
		font-size: @display3-font-size-small;

		@media @medium-up {
			font-size: @display3-font-size-medium;
		}

		@media @large-up {
			font-size: @display3-font-size-large;
		}
	}

	.display-3 {
		font-family: @display3-font-family;
		font-weight: @display3-font-weight;
		.display-3-size();
		.hook-display-3;
	}

	.display-4-size() {
		font-size: @display4-font-size-small;

		@media @medium-up {
			font-size: @display4-font-size-medium;
		}

		@media @large-up {
			font-size: @display4-font-size-large;
		}
	}

	.display-4 {
		font-family: @display4-font-family;
		font-weight: @display4-font-weight;
		.display-4-size();
		.hook-display-4;
	}

	// Paragraph

	p {
		margin-bottom: @spacing-base;
		.hook-p;
	}

	// Ingress

	.ingress {
		color: @ingress-color;
		font-family: @ingress-font-family;
		font-size: @ingress-font-size;
		font-weight: @ingress-font-weight;
		line-height: @ingress-line-height;
		.hook-ingress;
	}

	// Small

	small,
	.small {
		font-size: @small-font-size;
		font-weight: normal;
		.hook-small;
	}

	// Mark

	mark,
	.mark {
		background-color: @mark-background-color;
		padding: @mark-padding;
		.hook-mark;
	}

	// Blockquotes

	blockquote,
	q {
		font-style: @blockquote-quote-font-style;
		quotes: "\201C""\201D""\2018""\2019";
	}

	blockquote {
		color: @blockquote-quote-color;
		font-family: @blockquote-quote-font-family;
		font-size: @blockquote-quote-font-size;
		font-weight: @blockquote-quote-font-weight;
		letter-spacing: @blockquote-quote-letter-spacing;
		line-height: @blockquote-quote-line-height;
		margin-bottom: @spacing-base;
		padding: @blockquote-padding;
		.hook-blockquote;

		// Blockquote Quote
		p {
			margin-bottom: 0;

			&:not(:only-child) {
				margin-bottom: @blockquote-quote-margin;
			}
		}

		// Blockquote Cite
		cite {
			color: @blockquote-cite-color;
			display: inline-block;
			font-family: @base-font-family;
			font-size: @blockquote-cite-font-size;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			.hook-blockquote-cite;

			&:before {
				content: "\2014 \0020"; // add – line before cite
			}
		}
	}

	// Pullquote

	.pullquote {
		border-left: @pullquote-border-width solid @pullquote-border-color;
		color: @pullquote-color;
		font-family: @pullquote-font-family;
		font-size: @pullquote-font-size;
		font-style: @pullquote-font-style;
		padding: @pullquote-padding;
		.hook-pullquote;

		cite {
			color: @pullquote-cite-color;
			font-size: @pullquote-cite-font-size;
			.hook-pullquote-cite;
		}
	}

	// Code and Pre Elements

	code,
	kbd,
	pre {
		border-radius: @code-border-radius;
		font-size: @code-font-size;
	}

	code,
	pre {
		line-height: 1.25;
		white-space: pre;
		word-break: normal;
		word-wrap: normal;
	}

	code {
		background: @code-background;
		border: 1px solid @code-border-color;
		color: @code-color;
		font-weight: normal;
		padding: @code-padding;
		vertical-align: middle;
	}

	pre {
		background: @pre-background;
		color: @pre-color;
		margin-bottom: @spacing-base;
		overflow-x: auto;
		padding: @pre-padding;

		code {
			background: transparent;
			border: none;
			color: inherit;
			padding: 0;
		}
	}

}

.typography(@use-typography);

// Hooks
.hook-a() {}

.hook-h() {}

.hook-h1() {}

.hook-h2() {}

.hook-h3() {}

.hook-h4() {}

.hook-h5() {}

.hook-h6() {}

.hook-display-1() {}

.hook-display-2() {}

.hook-display-3() {}

.hook-display-4() {}

.hook-p() {}

.hook-ingress() {}

.hook-small() {}

.hook-mark() {}

.hook-blockquote() {}

.hook-blockquote-cite() {}

.hook-pullquote() {}

.hook-pullquote-cite() {}
